[2016-09-30 12:51] #676 closed

[2016-09-30 12:54] jakoch commented on #406
This Scons related issue is no longer relevant, due to the move to CMake.
CMake has a generator for Kdevelop, e.g. `cmake . -G KDevelop4`.

[2016-09-30 12:54] #406 closed

[2016-09-30 17:50] jakoch commented on #790
- `engine/core/gui/guichan/widgets/utf8textbox.cpp` doesn't exist
- `guichan` was renamed to `fifechan`
- `utf8textbox.cpp` was renamed to `textbox.cpp`
- It's now https://github.com/fifengine/fifechan/blob/master/src/widgets/textbox.cpp
- It's a fifechan issue.
Closing.

[2016-09-30 17:50] #790 closed

[2016-09-30 18:11] jakoch commented on #712
I don't see any problems related build times.
Not on my local machines and not on CI service containers.
Can we close?

[2016-09-30 18:14] jakoch commented on #550
- [ ] create `.astylerc` or `.clang-format` to enfore the coding-style and formatting via a tool

[2016-09-30 20:08] jakoch commented on #436
The manual has it's own repo now: https://github.com/fifengine/fifengine-docs
It's written in Asciidoc, output format is HTML, PDF output is prepared, but disabled.
Closing.

[2016-09-30 20:08] #436 closed

[2016-09-30 20:12] jakoch commented on #672
Issue transferred to the manual repo.

[2016-09-30 20:12] #672 closed

[2016-09-30 20:51] jakoch commented on #538
Issue transferred to: https://github.com/fifengine/fifengine-docs/issues/2

[2016-09-30 20:51] #538 closed

[2016-09-30 21:09] jakoch commented on #821
Info:
I've added support for [AsciiDoctor-diagram](http://asciidoctor.org/docs/asciidoctor-diagram/) to the documentation toolchain at https://github.com/fifengine/fifengine-docs

That means that we can now embed ASCII diagrams (in specific formats) directly in the docs.
The rendering of Grahpviz and Ditaa diagram types is supported. Maybe PlantUML is useful, too.
The ASCII diagrams are converted

[2016-10-02 14:45] jakoch commented on #549
❓ Does de-coupling include moving the PyChan layer (https://github.com/fifengine/fifengine/tree/master/engine/python/fife/extensions/pychan) from the fifengine repo to the fifechan repo?

If this isn't on the map, yet, i would suggest adding it:
- because a change to the fifechan cpp code will probably always need a tweak to the generated interface and that means the commits and PRs land in the sa

[2016-10-03 03:24] prock-fife commented on #549
I agree that we need to de-couple it.  There are some challenges however.   Pychan itself depends on FIFE itself so the major work might be removing that dependency.

[2016-10-03 04:11] LinuxDonald commented on #549
@prock should I than stopp merging the pychan branch?

[2016-10-03 08:47] Beliaar commented on #549
Decoupling would certainly be easier if we would split off fife into a shared fife library, a python extension module and the gui managers as seperate python modules that link to fife. This way fifechan could still use fife classes (optionally, of course, for those who don't want/need fife).

[2016-10-03 11:21] jakoch opened #930 "add Python3 support to appveyor.yml"
- [ ] extend build matrix for py2.x and py3.x
- [ ] produce python installer for `win32-py2.x` and `win32-py3.x`

[2016-10-03 13:33] prock-fife commented on #549
@LinuxDonald it's really 2 separate issues.  De-coupling "pyfifechan" from FIFE would enable, as @Beliaar mentioned the ability for clients to use  "pyfifechan" without needing to use FIFE.  What @helios2000 was trying to do was move the functionality from "pyfifechan" to fifechan itself.  The reason he was doing this was because pychan itself was becoming hard to maintain and generally it's fairl

[2016-10-03 15:41] #930 closed

[2016-10-04 03:39] prock-fife commented on #907
@Niektory I just downloaded the 32 bit version of Python 2.7.12 and installed in on Windows 10.  I then downloaded and installed the latest FIFE python module.  Now I get the following:

[code]

Here is some more information:

[code]

Any hints?  This is a fresh install of Windows 10 as well.

[2016-10-04 10:22] jakoch opened #932 "enable tests on CI services"
I would like to add the command `python test_fife.py --automatic` to the CI servers.
So that we trigger a run of the tests on every push and get direct feedback, in case we break something.

There are tests in the [`/tests` folder](https://github.com/fifengine/fifengine/tree/master/tests), but broken at the moment.
- [ ] `tests/core_tests` are C++ tests, which require a build with UnitTest++
- [x]

[2016-10-04 14:25] jakoch commented on #904
GLEW and GLAD are pretty much drop-in replacements for GLee.
The conversion effort is low. I would prefer GLAD.

Which requirements has FIFE's GL layer? Which requirements have to be met by the lib?
Because GLAD allows to compose the library by selecting the needed features in a webinterface: http://glad.dav1d.de/ We can get a way with a really thin layer, if we select this feature set carefully.

[2016-10-04 14:53] prock-fife commented on #907
This is the python FIFE module that I installed ->  https://ci.appveyor.com/api/buildjobs/rvwtnq9i0uhhclhm/artifacts/libfife-dev-018c9f2.win32-py2.7.exe

[2016-10-04 15:08] jakoch commented on #549
That's a good explanation of the situation and where we are heading in this area.
I suggest we proceed doing the things in the order (move functionality first, then split out).
Changing the order would mean to re-target existing pull requests to other repos,
which is a lot of additional maintenance work.

- Remove the hard dependency on the Guichan GUI library from FIFE's core
- Introduce an abstr

[2016-10-04 15:20] prock-fife commented on #904
Support for OpenGL ES is a must.  I haven't looked at that code in a long time and our expert @helios2000 has been away for a while now so I cannot really comment on your other questions.  I'm not sure how many extensions we really make use of or what version of OGL we really require.  I'd have to dig into it a bit more.

[2016-10-04 16:00] jakoch commented on #907
This was the first build of a working installer
https://ci.appveyor.com/api/buildjobs/nygkimxnb6u5mj7f/artifacts/libfife-0.4.0.win32-py2.7.exe
Seems i broke something along the way...

[2016-10-04 19:51] prock-fife commented on #549
Agreed.  Let's proceed with #843 and park this issue until that is completed or at least the functionality that @helios2000 has migrated has been fully integrated into master.

[2016-10-05 00:04] jakoch commented on #907
That means that the last working installer was build 16 days ago.
We need to find a breaking change related to package inclusion around that time.
That happens either in CMakeLists.txt or appveyor.yml.

Now we have:
[code]

Before:
[code]

[2016-10-05 13:16] jakoch opened #933 "show fife version on Engine::init"
- [x] Show the FIFE_VERSION on [Engine::init](https://github.com/fifengine/fifengine/blob/0d2e3ac909dc2e54e18ae66e7d15583a3b0ded55/engine/core/controller/engine.cpp#L157) using FL_LOG
   - e.g. `include version.h` + `FL_LOG(_log, "IsoEngine v" + FIFE_VERSION);`

[2016-10-05 14:13] Niektory commented on #907
Yup this one works. :+1:

[2016-10-05 17:21] jakoch commented on #550
I've configured an `.astylerc` file. But i'm not sure, if this formatting is wanted.
The bracket style is different and tabs are converted to spaces for C++ code.
Let's discuss this a bit and tweak it as necessary.

You can use a command like the following to test the formatter on the C++ stuff of `engine\core`:
`C:\astyle\bin\AStyle.exe d:\2-github.com\fifengine\fifengine\engine\core\*.* -n --opt

[2016-10-05 18:16] jakoch commented on #550
For the formatting of Python code, we could adopt and enforce the style used by UH:
https://github.com/unknown-horizons/unknown-horizons/blob/master/.pylintrc

[2016-10-05 18:21] prock-fife commented on #550
Agreed.  For the C++ stuff our standards are listed here: https://github.com/fifengine/fifengine/wiki/coding-standards

I'm open to update the standards if the need requires.

[2016-10-07 10:49] jakoch commented on #550
My `.astylerc` clashes a bit with the requirements of the already existing coding standard for C++.

**tabs vs. spaces**
I think the biggest change i introduced is the switch from tabs to spaces.
I don't want to get into a big debate on pro's and con's of tabs vs. spaces here,
because my goal is to format the code consistently with either tabs or spaces,
but not a mix of them, which looks terrible

[2016-10-07 13:08] jakoch commented on #933
Looks like this:
[code]

We could probably get rid of the double quotes, too..

[2016-10-07 13:08] #933 closed

[2016-10-07 13:57] vtchill commented on #550
I prefer spaces over tabs as well. I'm all for the change to spaces.

[2016-10-07 14:41] prock-fife commented on #550
Personally it makes no difference.  I'm sure there are arguments either way.   We do use spaces in the python code so it would be nice to be consistent.  Are there any caveats to making the change?  It will require a modification of every line of code.

[2016-10-07 16:50] jakoch opened #934 "add support for maps in TMX format"
Adding support for TMX maps would allow to work with the mapeditor Tiled: http://www.mapeditor.org/

- [ ] add new loader for tmx resources
   - http://doc.mapeditor.org/reference/tmx-map-format/

[2016-10-07 19:13] prock-fife opened #935 "Compile guide for Windows"
I've been trying, with no success so far, to use the apveyor artifacts to compile fifengine.  The idea is to write a compile guide for Windows.

From a fresh install of Windows 10 this is what I have done:
1. Download and install Visual Studio Community (C++)
2. Download and install Git for Windows
3. Checkout the fifengine repo
4. Download and install Python 2.7 (32bit)
5. Download and install CM

[2016-10-07 19:45] jakoch commented on #935
Ok, let's do this with a projects folder as the base,
where you have your "fifengine" git or zip content in `c:\projects\fifengine`

[code]

When you are working with the pre-build dependencies, then extract them into
`c:\projects\fifengine-dependencies\includes`.
(Note: the `includes` folder, will later be named `includes-msvc`, because we'll also have `includes-mingw`.)

[code]

-----
Here is a

[2016-10-08 04:30] prock-fife commented on #935
Your instructions work however you MUST extract the dependencies (from the fifengine root dir) "../fifengine-dependencies/includes" otherwise it doesn't work.  I tried a few other locations and this is what I ended up having to do.  Not a bad thing just something to note.  I expect there are some hardcoded values somewhere.

The other thing, I had noted that I installed git.. that was slightly not

[2016-10-08 04:39] prock-fife commented on #935
Another minor note.. it seems that the header files are not added to the project files.  I cannot browse them in the source browser.  The class browser also doesn't show a lot of the classes, I'm assuming this is related.

[2016-10-08 07:03] Beliaar commented on #935
yeah, I recently read that the header files need to be added to the build, even though that isn't exactly needed to compile, to appear in project files.

[2016-10-08 09:20] jakoch commented on #935
**hardcoded dependencies folder**

Normally, you would have to define the include folders either via the CMake GUI or with `-DLIBNAME_INCLUDE_DIR=C:\<path-to-includes>`. I've tried to get rid of that as much as possible by guiding CMake and appending several include folders to the CMAKE_PREFIX_PATH.

https://github.com/fifengine/fifengine/blob/master/CMakeLists.txt#L122

But you can override the C

[2016-10-09 12:48] jakoch commented on #907
Ok, now that we have again a working Py2.7 installer, we can tackle the next issue:
did someone test the Py3 installer?

[2016-10-09 22:59] LinuxDonald commented on #907
Give an way that the python3 installer and maybe py2 installs python on the pc if it needed?

[2016-10-09 23:02] LinuxDonald commented on #907
The py3 installer dont find my python 3.5.2

[2016-10-10 12:20] jakoch commented on #907
The installation of the build-tools will be / is part of the fife-sdk installer.

[2016-10-26 15:13] jakoch commented on #935
Is this build issue resolved?

I've updated the manual once more, see [Building fifengine on Windows](https://fifengine.github.io/fifengine-docs/developer-manual/en/#_building_fifengine_on_windows) and [CMake build flags](https://fifengine.github.io/fifengine-docs/developer-manual/en/#_cmake_configuration_options).

[2016-10-26 15:41] jakoch commented on #888
Who could help doing the Mac packaging?

[2016-10-26 15:48] vtchill commented on #888
I can try to help. I'll just need some instruction on how to get up and running with our current setup for packaging in general.

[2016-10-28 20:00] #821 closed

[2016-10-29 12:41] jakoch commented on #891
We'll need one release tag to test the automatic deployment of a tagged release.
Because we might need to redo this step over and over, until the auto deployment is stable
(tag delete, re-push -  check API access and API keys).
The good thing is you have the patch level version range to mess around in: 0.3.5 - 0.3.99.

After that we are good to go with a "real" new release tag: maybe 0.4.0.

Both

[2016-10-29 12:43] LinuxDonald commented on #891
UH runs fine with fife and fifechan master. I think prock have said to me the next version will be 0.3.9 or 0.4.0.

[2016-10-29 12:47] jakoch commented on #891
Hmm, but you work against the prebuild package: `sudo apt-get install python-fife`, see https://github.com/unknown-horizons/unknown-horizons/blob/master/.travis.yml#L18
Is there a branch over at https://github.com/unknown-horizons/unknown-horizons which uses fife master?

[2016-10-29 14:00] LinuxDonald commented on #891
The pre-built version is before the cmake switch. But local most off use using fife master

[2016-10-29 14:11] jakoch commented on #888
Ok.
You would build the project Travis-like. Then the last step should be "[Install the project...](https://travis-ci.org/fifengine/fifengine/jobs/171606527#L822)".
Then you could start working on an additional step for packaging.

I could imagine that the approach from Appveyor/Windows could work on Mac, too.
We package with `python setup.py set_metadata --version=%APPVEYOR_BUILD_VERSION% bdist_w

[2016-11-02 09:14] rndhro opened #938 "cmake/FindFifeChan.cmake does not find fifechan.hpp"
I'm on Linux, cmake 3.5. fifechan is installed into a local directory via ```CMAKE_INSTALL_PREFIX``` and the same directory is used as ```CMAKE_FIND_ROOT_PATH``` when compiling fifengine. fifechan installs ```fifechan.hpp``` into ```${CMAKE_INSTALL_PREFIX}/include/fifechan.hpp``` so I'm wondering how
[code]
can possibly find that file at all. Additionally, appending "fifechan" to the path found ab

[2016-11-02 12:04] jakoch commented on #938
Thank you for reporting the issue and contributing the patch!

[2016-11-02 12:31] jakoch commented on #938
It fixes the Linux, but breaks Windows builds, see
https://ci.appveyor.com/project/LinuxDonald/fifengine/build/dev-2f94585/job/bn301hbnbb3enp4q#L3414

[2016-11-03 09:47] rndhro commented on #938
I was expecting a reason behind this, that's why I didn't send a PR ;)

Why is the Windows build installing the fifechan headers into ```fifengine-dependencies\includes\include\fifechan\``` instead of ```fifengine-dependencies\includes\include\```while the library goes into ```fifengine-dependencies\includes\lib```? I think by changing that, it would build for both OS.

[2016-11-03 10:45] jakoch commented on #938
I was trying to create a folder structure on Windows, without dangling files in `include` itself and where every dependency has it's own folder inside `include`.

The overall folder layout should look like this:

- `fifengine-dependencies` with the folders `build` and `includes`
- `fifengine-dependencies\includes\`  folders:

![include](https://cloud.githubusercontent.com/assets/85608/19962767/7de

[2016-11-03 15:52] rndhro commented on #938
I see your point on having separate directories per dependency. I haven't used Windows/VisualStudio for ages so I can't comment on that. But IMO the (cmake-) way for that would be to install each dependency into its own directory to have a folder structure like
[code]
and provide a list of all these dependency directories to fifengine's cmake via CMAKE_FIND_ROOT_PATH.

[2016-11-04 15:31] jakoch commented on #938
I guess, i'm just used to a folder structure with central `\lib` and `\bin` folders. The deployment step is basically copying `\bin`. Maybe comparable to having a central `/usr/lib` folder.

Your folder structure would work, too. Having a folder for each component is a very clean approach,
but you would need to  traverse the tree to collect the binaries in the deployment step.

I don't know, if th

[2016-11-04 15:56] LinuxDonald opened #939 "Release of fife 0.4.0"
That must be done for it:

**Tickets:**

* [x] #938 cmake/FindFifeChan.cmake does not find fifechan.hpp
* [x] #935 Compile guide for Windows
* [x] #907 How to package fifengine correctly?
* [x] #802 Package a new dev kit
* [x] #526 Uninstaller Doesn't Remove fife Module
* [x] #505 Windows package should download python if required

**Optimal Tickets:**

* [x] #575 Improve build system shared libra

[2016-11-04 17:59] LinuxDonald commented on #939
fifechan 0.1.3 is out: https://github.com/fifengine/fifechan/releases

[2016-11-05 07:16] Beliaar commented on #938
Not sure if it is a good layout, but cegui has a dependency package - which needs to be compiled by the users. It is just a simple layout where the files of all libraries are in the same respective folders, though.

[2016-11-05 07:17] Beliaar commented on #939
@LinuxDonald sounds ok to me.

[2016-11-05 09:55] jakoch commented on #938
Thanks for the pointer, Beliaar!
I took a look at the CeGUI CMakeLists.txt and their dependencies layout looks like this:

[code]

They do not  install each dependency into its own directory.
Their layout is similar to our'sm, where you have the top-level folders `bin`, `include`, `lib`.

[2016-11-05 11:35] Beliaar commented on #938
yeah, that is what i was saying.

[2016-11-05 12:35] jakoch commented on #938
I solved the windows issue by adding `PATH_SUFFIXES fifechan` to `find_path`.
https://ci.appveyor.com/project/LinuxDonald/fifengine/build/dev-8daa72c
Closing.

[2016-11-05 12:35] #938 closed

[2016-11-06 03:01] prock-fife commented on #939
looks pretty good.  I would almost lean toward only fixing #938 and the rest are optional.

[2016-11-06 03:01] prock-fife commented on #939
oh and nice work on fifechan 0.1.3

[2016-11-14 16:00] jakoch commented on #888
Some additional notes: https://github.com/fifengine/fifechan/issues/41

[2016-11-14 16:04] jakoch commented on #891
🤕

[2016-11-14 16:04] #891 closed

[2016-11-14 16:37] jakoch opened #940 "remove boost:regexp - replace with std:regexp"
The idea to remove boost:regexp and replace it with [std:regexp](http://en.cppreference.com/w/cpp/regex) comes from here https://github.com/fifengine/fifengine/issues/802#issuecomment-243278764.
For some pro's and con's see StackOverflow: [Boost:Regex cs. C11 Regex](http://stackoverflow.com/questions/7589672/boost-regex-vs-c11-regex)

- we need to check compilers on all platforms, if they support

[2016-11-15 16:10] #505 closed

[2016-11-17 20:46] jakoch commented on #935
@prock-fife Maybe you find some time to help with the development of the installer (https://github.com/fifengine/fife-windows-sdk)?

[2016-12-04 15:32] LinuxDonald commented on #526
Should be fixed with the next SDK release because new installer is used.

[2016-12-04 15:32] #526 closed

[2016-12-04 15:34] LinuxDonald commented on #575
@jakoch is that maybe fixed with cmake now?

[2016-12-04 15:38] #679 closed

[2016-12-04 15:39] jakoch commented on #575
- we can override the shared library install location ✔️
- the shared library filename gets a version stamp ✔️
  - but not sure, if file name format is correct: do we have a `libfife.so.major.minor.release` name?

[2016-12-04 15:44] LinuxDonald commented on #875
https://github.com/fifengine/fifengine/issues/548

Maybe the same error?

[2016-12-04 15:46] LinuxDonald commented on #878
@jakoch is that maybe already fixed?

[2016-12-04 15:51] jakoch commented on #878
This is about: https://github.com/fifengine/fifengine/blob/ad585a21430136be96b332da712f5d3f31083f0a/engine/core/view/renderers/cellselectionrenderer.i#L38
This needs an iteration test on the Python side.

Referencing also:
https://github.com/fifengine/fifengine/search?utf8=%E2%9C%93&q=getLocations
https://github.com/fifengine/fifengine/search?utf8=%E2%9C%93&q=CellSelectionRenderer.getLocations

[2016-12-04 16:02] jakoch commented on #526
Issue transferred to fife-sdk repo: https://github.com/fifengine/fife-windows-sdk/issues/7

[2016-12-04 17:20] jakoch commented on #802
Solved by FifeSDK: https://github.com/fifengine/fife-windows-sdk

[2016-12-04 17:20] #802 closed

[2016-12-04 17:27] jakoch commented on #907
This is solved:
Status:
- Except Linux packaging.
- Except Mac packaging.
- We are consuming the artifacts of fifengine (libfife python for 2.7 and 3.x + dependencies) in the FifeSDK now. See https://github.com/fifengine/fife-windows-sdk

[2016-12-04 17:27] #907 closed

[2016-12-04 17:45] LinuxDonald commented on #663
Moved to: https://github.com/fifengine/fife-windows-sdk/issues/8

[2016-12-04 17:45] #663 closed

[2016-12-05 16:27] Maraschin commented on #887
Hi, if you guys have fix it,
can't you push this to all distros?

I'm getting this on Ubuntu 16.4 LTS ...

[code]

[2016-12-05 16:50] LinuxDonald commented on #887
@Maraschin our next "stable" fife release will come this month. Dont use Ubuntus Fife version from the repo compile it by your own or wait to the stable version ist out and the the ubuntu maintainer have updated it.

[2016-12-05 22:28] LinuxDonald opened #943 "Arch linux drops support for /usr/local"
https://projects.archlinux.de/svntogit/packages.git/commit/trunk?h=packages/filesystem&id=ae8d254684fae8dfd6f45772f2837155e84fd564

Does only arch linux is planning to drop /usr/local ?

When yes we should change default path to /usr

[2016-12-06 02:06] #943 closed

[2016-12-06 17:22] jakoch commented on #875
I spend some time on tracking the issue down.
The last two lines of the log point us here:
- [`extensions/pychan/compat.py` - `_fife_load_image`](https://github.com/fifengine/fifengine/blob/d5d0544d952fa26dc77955221221a2daf9eb03ba/engine/python/fife/extensions/pychan/compat.py#L87)
- [`imagemanager.cpp` - `ImageManager::load(const std::string& name, IResourceLoader* loader)`](https://github.com/fi

[2016-12-07 16:37] LinuxDonald commented on #939
@jakoch can we do the release 0.4.0?

[2016-12-11 23:22] Niektory commented on #875
To me it looks that a proper NotFound exception (defined here: https://github.com/fifengine/fifengine/blob/master/engine/core/util/base/exception.h#L77) is thrown on the C++ level, it just gets lost in the translation to Python.

I believe what's needed is additional code in the SWIG interface file: https://github.com/fifengine/fifengine/blob/master/engine/swigwrappers/python/fife.i.templ.cm#L131-

[2016-12-12 17:47] LinuxDonald opened #944 "Appveyor Deploy problem"
I found this:

http://help.appveyor.com/discussions/problems/2168-cant-create-a-github-release

[2016-12-12 17:48] LinuxDonald commented on #944
@jakoch maybe you know if that could help?

[2016-12-12 21:22] jakoch commented on #944
- No, that won't help, because that's not the issue.
- These artifacts are deployed: https://github.com/fifengine/fifengine/blob/master/appveyor.yml#L158
  - add `LibfifeReleaseArtifact`, which is missing
- uncomment the artifact section: https://github.com/fifengine/fifengine/blob/master/appveyor.yml#L144-L150
  - adjust the path entries, so that they match the files created in the `after_build`

[2016-12-13 01:36] #875 closed

[2016-12-14 15:18] LinuxDonald commented on #903
@jakoch what about to use RapidXML? because its already used in fifengine-atlas-creator https://github.com/fifengine/fifengine-atlas-creator/tree/master/src/rapidxml

[2016-12-14 15:55] jakoch commented on #903
Yes, we/i could also replace the dependency in the atlas-creator. I prefer to solve the appveyor based Qt build issue firstly, so that it builds and is green, before we switch the dependencies. I'm in favor of using PugiXml, because it's fast and has a nice API.

[2016-12-26 10:17] #878 closed

[2017-01-06 10:00] LinuxDonald opened #947 "Swig fife warnings:"
[code]

[2017-01-06 11:11] LinuxDonald commented on #947
@Niektory or @jakoch have you maybe an idea how to fix that?

[2017-01-06 11:30] LinuxDonald opened #948 "Update fife fedora package and maybe become offical maintainer"
Repo: http://pkgs.fedoraproject.org/cgit/rpms/fife.git/

Lastest Package needs to be updatet:
[fife-f8a8293c527fa67ccdf1518694ac4e0be6e0e664.zip](https://github.com/fifengine/fifengine/files/689767/fife-f8a8293c527fa67ccdf1518694ac4e0be6e0e664.zip)

Fifechan RPM is here:
http://pkgs.fedoraproject.org/cgit/rpms/fifechan.git
https://bugzilla.redhat.com/show_bug.cgi?id=fifechan

[2017-01-06 12:35] jakoch commented on #947
https://github.com/fifengine/fifengine/blob/master/engine/core/model/structures/trigger.i#L102

[2017-01-06 13:31] LinuxDonald opened #949 "Add clang switch to cmake"
http://stackoverflow.com/questions/7031126/switching-between-gcc-and-clang-llvm-using-cmake

 I found this.

Why:
Clang on Arch Linux needs at the highest point "only" 2,1 gb ram for compiling GCC needs 2,9 gb

And UH runs better with clang compiled fifechan and fife :)

[2017-01-06 16:15] Niektory commented on #947
Previously when SWIG had trouble with overloading (#815) we renamed the affected methods. Not sure if there's another solution.

[2017-01-06 16:28] LinuxDonald commented on #947
@Niektory could you maybe provide an patch please?

[2017-01-06 23:25] Niektory commented on #947
I guess. Only 4 methods cause problems, but I should probably rename all 16 for consistency. Or should I not?

[2017-01-07 00:13] LinuxDonald commented on #947
I think all would be better? not that we become that bug again in the future.

[2017-01-07 18:51] LinuxDonald commented on #949
https://fifengine.github.io/fifengine-docs/developer-manual/en/#_building_fifengine

Added howto to the docs

[2017-01-07 18:51] #949 closed

[2017-01-08 15:20] #947 closed

[2017-01-10 14:02] VladimirKonkov opened #951 "minimal boost version should be checked"
Hi, fifeengine developers.
I can't link fifengine source against boost-1.58, but boost-1.63 version works fine for me.

Should you point minimal boost version required. Should cmake check it?

best Vladimir.

[2017-01-10 14:08] LinuxDonald commented on #951
Hello Thank you for the report. Are you using linux? when yes what distro?

[2017-01-10 14:16] jakoch commented on #951
Hey Vladimir!

We use `find_package(Boost 1.33.1 COMPONENTS system filesystem regex)`, see
https://github.com/fifengine/fifengine/blob/master/CMakeLists.txt#L634

 `find_package` should try to find any version above `1.33.1`
It's basically a minimum version number / non-exact version match.
But i'm not sure, why linking against 1.58 fails in your case.
We have to create a reproduction case: try it

[2017-01-10 14:41] VladimirKonkov commented on #951
Ubuntu 16.04
Hey, Jens!
error is just trivial, when run

it reports that can't find any boost library symbols.
boost-1.58 installed from apt package and boost-1.63 builds from source.
A don't try to build boost-1.58 from the source yet.

[2017-01-10 15:32] LinuxDonald commented on #951
Have you libboost-dev installed?

[2017-01-12 16:29] LinuxDonald commented on #828
@koobs can you retest that with lastest git please? Because i dont become warnings with clang 3.9.

[2017-01-12 17:37] LinuxDonald opened #953 "Owner of fife"
@prock-fife can i get owner right of fife please?

and we need an forum backup to transfer to th new server.
And the scripts for the website to move too to an new server.
That we have easier access.

[2017-01-12 19:14] helios2000 commented on #919
Yea thats very hacky and not good for performance. So it should be revererted ASAP.
Beliar you wrote that it happens only in some cases, which are they?

[2017-01-12 19:18] LinuxDonald commented on #919
@helios2000 you are back :-) :-) :-) :-) :-) is it an dream or are you really back?

[2017-01-12 19:24] prock-fife commented on #919
@helios2000 is it you?   is it really you?

[2017-01-12 19:27] helios2000 commented on #953
I am strictly against it. LinuxDonald knows almost nothing about FIFE. The last few months have made it clear. FIFE is more than just an engine for UH. Most steps go only in one direction and I think it's the wrong direction.

[2017-01-12 19:34] helios2000 commented on #919
Yes, it is me :-D
But not really back, I've still a lot of trouble in RL. The last year was one of the worsts in my live. But I'll try to help again.

[2017-01-12 19:51] helios2000 commented on #934
We discussed it a few times in the past. Sure it would be great, but FIFE would still need an own editor because of the much larger scope of functions that are possible, as example pathfinder stuff and lights.

[2017-01-12 20:01] helios2000 commented on #904
We currently require OpenGL 2.1. From GLEE we use only Framebuffer Object and some Texture stuff, like NPOT.
And as prock said, OpenGL ES is a must :)

[2017-01-12 20:08] helios2000 commented on #820
I fixed that with the SDL 2 branch. It seems you merged it, so the bug is gone.

[2017-01-12 20:08] #820 closed

[2017-01-12 23:36] Beliaar commented on #919
@helios2000 i don't really remember the details anymore at this time. It was happening for widgets that overlapped with the outside black areas of the map.

Also: Welcome back.

[2017-01-13 01:00] Niektory commented on #919
@helios2000 Great to see you again! I hope this year will be better for you.

[2017-01-13 02:53] #953 closed

[2017-01-13 02:56] LinuxDonald commented on #953
Okay after release 0.4.0 this weekend I will remove my self from the project.

[2017-01-13 03:35] LinuxDonald commented on #953
@helios2000 when I add some commits into git that are not okay see me which one and I will revert they.

[2017-01-13 13:30] helios2000 commented on #919
Thank you all :)
Yea the issue is a bit strange, because cegui should clean the related clip areas. Problem is that FIFE don't get data from cegui, it only provides an interface to proceed input and surface to cegui.

[2017-01-13 14:23] LinuxDonald commented on #575
[linuxdonald@linuxdonald-pc lib]$ dir
libfife.so  libfife.so.0  python2.7
[linuxdonald@linuxdonald-pc lib]$

[2017-01-13 14:41] jakoch commented on #856
Blocker for: #904 glee dependency replacement
Referencing: http://stackoverflow.com/questions/6644099/what-is-so-bad-about-gl-quads

[2017-01-14 10:58] #575 closed

[2017-01-14 11:07] jakoch opened #955 "Release Steps"
Let's try to assemble and refine the steps for doing a release of Fifengine.

We need this document, because maintainers might change and we need to transfer the knowledge of "how to do a release properly" to the next person having the maintainer role.
In the end, it should from a checklist guide for the maintainer.

The content of this ticket is later moved into the developer manual.

----

[2017-01-14 12:30] Sirre87 opened #956 "FIFE run error"
Hi!

I just installed Python and FIFE for the first time today.

I seem to have an issue to run any run-files though, as I get the following error message:

![fife run error](https://cloud.githubusercontent.com/assets/25118755/21954831/7431db22-da5d-11e6-9331-ef8ac4da6cb3.png)

I'm quite new to this so I don't know what's wrong. Any help would be appreciated!

Thanks!

Best Regards,
Sirre

[2017-01-14 12:36] jakoch commented on #956
Hello Sirre,

thank you for reporting the issue.

Could you post the steps so that we can reproduce the problem?

How did you get there? What did you download? What did you execute?

For know, i can only say that you are trying to run the `mapeditor`, right?
Which Python version do you use?

Thanks, Jens

[2017-01-14 12:45] Sirre87 commented on #956
Hi Jens,

Thanks for the fast reply.

Basically, I did this:
- I downloaded the FIFE installer
- I ran the installer, only to realise I needed to install Python
- I went to the python homepage and downloaded the latest version, Python 3.6.0
- I installed Python in the standard location
- I ran FIFE installer again, which now found the Python location
- Installed FIFE on my external harddrive (my i

[2017-01-14 12:47] LinuxDonald commented on #956
Remove you python install and test this: https://ci.appveyor.com/api/buildjobs/fejinlrvyc5jfiwy/artifacts/FifeSDK-0.0.89-Setup-VC14-x86.exe

Dont USE PYTHON3. Editor and demos diont support it yet.

[2017-01-14 12:50] jakoch commented on #956
Thank you for describing the steps!

To explain, why you get the syntax error:
The `mapeditor` needs Python 2.7. It doesn't work with Python3, yet. We are working Py3 support.

[2017-01-14 12:52] Sirre87 commented on #956
Hi!

Oh, that explains it! I didn't realise there were two different active version of Python!

Installing Python 2.7 solved it, as you said.

Thank you very much!

[2017-01-14 12:53] jakoch commented on #956
Glad we could help. Thanks for trying out fife !! :)

[2017-01-14 12:54] #956 closed

[2017-01-15 05:37] Niektory commented on #955
This should print all authors of COMMIT and earlier but excluding those already in the `AUTHORS` file:
[code]
Or new authors between 2 specific commits:
[code]

[2017-01-15 10:21] jakoch commented on #955
Thank you! This will help in maintaining the authors file.

[2017-01-15 12:16] jakoch opened #957 "pychan_port branch doesn't build"
how to fix the build for the pychan_port branch

the `fifengine pychan_port` depends on the `fifechan pychan_port` branch
for linux and mac the simplest way is to check the brach out directly via a change in `.travis.yml`
see:  https://github.com/fifengine/fifengine/blob/pychan_porting/.travis.yml#L48
for windows it's more difficult, because we only build the master branch vom fifechan,
(that mean

[2017-01-15 15:28] #944 closed

[2017-01-15 16:38] LinuxDonald opened #958 "Pychan_port branch Build erros:"
[code]

[2017-01-15 17:36] #935 closed

[2017-01-15 21:53] Devix167 opened #959 "Error when running fife!"
I ran the engine in
C:\Program Files (x86)\FIFE\tools\editor\run
and i get this error
http://prntscr.com/dw2j83
Please fix it or help me!
I've looked for this error but havent found it in the issues thing.

[2017-01-15 22:55] LinuxDonald commented on #959
Hello what version of fife you are using?

[2017-01-16 00:29] Devix167 commented on #959
0.3.5

[2017-01-16 00:38] LinuxDonald commented on #959
We will release tomorrow version 0.4.0 of fife please test the editor then again on this version. And report if your problem maybe got fixed.

[2017-01-16 00:52] Devix167 commented on #959
Thanks, ill get it tomorrow.

[2017-01-16 11:33] #939 closed

[2017-01-16 11:34] LinuxDonald commented on #828
If this problem is still there reopen this ticket please.

[2017-01-16 11:34] #828 closed

[2017-01-16 11:34] LinuxDonald commented on #887
0.4.0 is out wait that your distro update fife.

[2017-01-16 11:34] #887 closed

[2017-01-16 15:16] Devix167 commented on #959
I see that fife 4.0 is on the releases but how do I download it?

[2017-01-16 15:32] LinuxDonald commented on #959
The sdk for easy install will be released in the next hours.

[2017-01-16 15:33] Devix167 commented on #959
Ok thanks!

[2017-01-16 16:19] LinuxDonald commented on #959
https://github.com/fifengine/fife-windows-sdk/releases

SDK is out :)

[2017-01-16 16:32] prock-fife commented on #959
Python installer is here:  https://github.com/fifengine/fifengine/files/707089/libfife-0.4.0.win32-py2.7.zip

make sure you remove 0.3.5 before you install this.  Not sure if there is an easy way to uninstall though :(

Latest editor (needs to be release yet) is here: https://github.com/fifengine/fifengine-editor

Just download a zip and extract it somewhere.   that *should* work.

[2017-01-16 16:34] LinuxDonald commented on #959
@prock-fife the an version of the editor is in the sdk :)

[2017-01-16 17:48] Devix167 commented on #959
Okay so I got fife installed and everything from the link @LinuxDonald sent but how do I run the engine?

[2017-01-16 17:53] LinuxDonald commented on #959
Do you want to start the editor or own code?

[2017-01-16 17:55] Devix167 commented on #959
The editor.

[2017-01-16 17:55] LinuxDonald commented on #959
the editor should be in the fifesdk folder

[2017-01-16 17:56] LinuxDonald commented on #959
double click the run.py file

[2017-01-16 17:57] Devix167 commented on #959
there is no run.py file.
http://prntscr.com/dweyli

[2017-01-16 18:00] LinuxDonald commented on #959
in the mapeditor folder

[2017-01-16 18:01] Devix167 commented on #959
Im such a noob! sorry XD

but when a ran it a command prompt appeared then disappeared and then nothing happened!

[2017-01-16 18:13] LinuxDonald commented on #959
I´m an noob too :P

Rightclick of the run.py and select open with. Choose pythonw.exe in C:\fife\python\pythonw.exe

[2017-01-16 18:17] Devix167 commented on #959
I ran it with pythonw and nothing happened.

[2017-01-16 18:19] LinuxDonald commented on #959
open cmd.exe

and to this:

cd C:\fife\mapeditor
run.py

and give me the log

[2017-01-16 18:22] Devix167 commented on #959
http://prntscr.com/dwfcq4

[2017-01-16 18:24] LinuxDonald commented on #959
@Devix167 thx for the log i will ask an dev for help.

[2017-01-16 18:26] prock-fife commented on #959
I think I know the issue.  You may have to delete the auto generated settings.xml file.  I believe it will be located in your user home directory under AppData/FIFE/editor or something to that matter.   Once you have done that re-try running the editor, it should re-create the file and work.

[2017-01-16 18:26] Devix167 commented on #959
Ok ill try that. Thank you!

[2017-01-16 18:28] Devix167 commented on #959
Theres no FIFE in appdata. did you mean "AppData/Roaming"?

[2017-01-16 18:31] LinuxDonald commented on #959
for me the settings file is in: C:\Users\linux\AppData\Roaming\fife\editor

[2017-01-16 18:31] prock-fife commented on #959
sorry.. try here:  <User>\Application Data\fife

[2017-01-16 18:33] LinuxDonald commented on #959
remove settings file in: C:\Users\Username\AppData\Roaming\fife\

[2017-01-16 18:38] Devix167 commented on #959
Ok so i deleted the settings file. Do i run it with normal python or pythonw?

[2017-01-16 18:38] LinuxDonald commented on #959
pythonw

[2017-01-16 18:39] Devix167 commented on #959
nothing happened.

[2017-01-16 18:42] LinuxDonald commented on #959
open cmd.exe

and to this:

cd C:\fife\mapeditor
run.py

and give me the log

again please

[2017-01-16 18:44] Devix167 commented on #959
http://prntscr.com/dwfouw

[2017-01-16 18:47] LinuxDonald commented on #959
have you removed all settings.xml files? Maybe do an search on your drive

[2017-01-16 18:47] Devix167 commented on #959
Ill try again with normal python no settings.xml

[2017-01-16 18:48] Devix167 commented on #959
HOLY CRAP IT WORKED

[2017-01-16 18:50] LinuxDonald commented on #959
:)

[2017-01-16 18:51] Devix167 commented on #959
Welp, thank you all for the help! Ill get to using the engine as soon as I figure out how to use it!

[2017-01-16 18:51] #959 closed

[2017-01-16 18:54] LinuxDonald commented on #959
https://github.com/fifengine/fifengine-docs

[2017-01-16 18:54] prock-fife commented on #959
I would suggest checking out the tutorials:  https://github.com/fifengine/python-tutorials

Once you have gone through them check out the demos:  https://github.com/fifengine/fifengine-demos

[2017-01-17 17:59] helios2000 opened #961 "'SWIGPY_SLICE_ARG' Error"
I've found a strange swig or cmake problem. You can see it here: https://travis-ci.org/fifengine/fifengine/jobs/192736995#L1220

For a new template in widgets.i I've added %include "std_vector.i" to the engine/swigwrappers/python/fifechan.i.templ.cm. The SWIGPY_SLICE_ARG error can apear if one use import instead of include, so maybe this happens here: https://github.com/fifengine/fifengine/blob/py

[2017-01-17 18:31] helios2000 commented on #934
Ok after a few discussions and some research it looks like it's possible, that we can add support for Fife to Tiled. It's possible to add plugins like other games / engines did it. The amount of work for us is still unsure. But so we could use Tiled Editor instead of our own buggy Mapeditor.

A snipped from bjorn, the main dev of Tiled:

[2017-01-17 21:32] #961 closed

[2017-01-17 22:24] helios2000 commented on #803
It's part of the pychan_porting branch. See FifechanManager setConsoleEnabled() and isConsoleEnabled().

[2017-01-17 22:26] helios2000 commented on #785
Issue still there or can it be closed?

[2017-01-18 03:34] prock-fife opened #962 "Downloads wiki page needs updating for 0.4.0"
Entry needs to be made for 0.4.0

https://github.com/fifengine/fifengine/wiki/Downloads

[2017-01-18 05:59] LinuxDonald commented on #962
Done.

[2017-01-18 05:59] #962 closed

[2017-01-20 20:01] helios2000 commented on #958
Fixed with https://github.com/fifengine/fifengine/commit/12030a4e55aa8baae890657536017a2f680008a8

[2017-01-20 20:01] #958 closed

[2017-01-21 13:31] prock-fife opened #964 "SDL Mouse Wheel events are not handled correctly"
After looking through an issue with rio_de_hola I noticed that FIFE doesn't handle these events exactly right.  See the SDL2 documentation here:  https://wiki.libsdl.org/SDL_MouseWheelEvent

In EventManager::fillMouseEvent look here -> https://github.com/fifengine/fifengine/blob/master/engine/core/eventchannel/eventmanager.cpp#L743

Notice how FIFE treats x and y scrolls as the same thing.  I beli

[2017-01-21 14:36] helios2000 commented on #964
Yea the SDL 2 branch was not finished yet. The mouse wheel was one thing where I was not sure if we should add the additional directions. And what effects this should have on the Fifechan widgets.
The SDL_MOUSEWHEEL_FLIPPED did not exist at that time.

[2017-01-22 04:41] prock-fife commented on #964
It would be nice to have some widgets scroll left and right.  Some mice have that capability.  I can imagine it being mostly used with horizontal scroll bars.  But there may be other examples that I cannot thing of right now.

Could we remove the X value from the calculation in eventmanager and add SDL_MOUSEWHEEL_FLIPPED to the mix and call this fixed?

As far as adding MOUSE_WHEEL_LEFT/RIGHT that

[2017-01-22 04:51] prock-fife commented on #934
Can Tiled at least render the map the way FIFE would?  I'm thinking lighting and animations, etc etc.  What about rendering order?  My first thought is it may be less work to re-write the editor based on the features TIled has at the moment.

[2017-01-22 13:18] helios2000 opened #967 "Make use of MOUSE_WHEEL_LEFT/RIGHT"
SDL 2 supports additional a left and right direction of the mouse wheel. Target is to implement it in Fife.
See: https://github.com/fifengine/fifengine/issues/964#issuecomment-274307974

[2017-01-22 14:33] #964 closed

[2017-01-22 15:03] helios2000 opened #968 "Add SDL_MOUSEWHEEL_FLIPPED once SDL 2.0.4 or higher is supported"
I've commented out the related code because Travis can't build it. Currently only 2.0.2 is supported.

[2017-01-22 15:22] helios2000 commented on #934
That's an option for sure. It's true that rendering and the related stuff could be pitfalls. Both options will need a lot of time and work. At the same time, the Editor is Fifes biggest weak spot and we have to change that. With all the changes that come, we need an solution until the next release because they make the editor even more unusable.

[2017-01-22 15:58] helios2000 commented on #856
Just to make it clear, if we want to go the way to OpenGL ES 2 and OpenGL 3 or above we have to change a lot. We've to change the render code from Fixed Function Pipeline to Programmable Pipeline. Propably the Renderers and all related features as Lights, Overlays and so on need a rewrite. We also have to consider what we want to do with the SDL backend and Fifechan.

[2017-01-22 15:59] #785 closed

[2017-01-22 16:00] helios2000 commented on #675
Done with https://github.com/fifengine/fifengine/commit/f9e6b263efbb089a4a808ecd312cdf52906f2e52

[2017-01-22 16:00] #675 closed

[2017-01-22 16:42] MasterofJOKers commented on #712
Compiling fife takes over 3.2 GB of RAM on debian testing here with gcc. The compile time for that single file is over 10min.

[2017-01-22 18:49] MasterofJOKers commented on #712
Sorry, over 5minutes for that single file. It just seems like endless.

[2017-01-22 22:14] LinuxDonald commented on #712
With clang it needes around 2,1 gb but the same compile time i think.

[2017-01-22 23:06] helios2000 commented on #712
Here with MSVC  3 minutes and less then 0,4 GB.

[2017-01-22 23:18] LinuxDonald commented on #666
@helios2000 is that fixed in pychan port?

Found it here at UH: https://github.com/unknown-horizons/unknown-horizons/blob/master/content/gui/xml/ingame/hud/resource_overview_bar_stats.xml

[2017-01-23 11:41] Beliaar commented on #964
With those changes I get an error with TDM-GCC and CEGUI enabled:

E:\projekte\fifengine\engine\core\gui\cegui\base\ceguiinputprocessor.cpp:154:4: error: jump to case label [-fpermissive]
    default:
    ^
E:\projekte\fifengine\engine\core\gui\cegui\base\ceguiinputprocessor.cpp:145:13: note:   crosses initialization of 'int32_t wheelChange'
     int32_t wheelChange = event.wheel.y;

[2017-01-23 16:24] helios2000 commented on #666
Yea it should. The min, max sizes are now part of Fifechan.

[2017-01-26 19:33] helios2000 commented on #967
Fifechan changes: https://github.com/fifengine/fifechan/commit/858a2c454d2139cb82c95307372bcaacaa56438b

[2017-01-26 19:37] #967 closed

[2017-01-26 23:14] MasterofJOKers opened #973 "fife soundemitter lets UH hang"
I clicked a lot and fast on a tab in Unknown-Horizons, which is supposed to make a sound every time. After some clicks, there's no sound any more and if I keep clicking longer, UH hangs. Attaching gdb to the process shows the following backtrace:
[code]
and occasionally
[code]

[2017-01-28 02:04] LinuxDonald commented on #951
Closed no feedback

[2017-01-28 02:04] #951 closed

[2017-01-28 02:10] LinuxDonald commented on #865
@helios2000 what do you think about this ticket?

[2017-01-28 13:27] helios2000 commented on #732
A really great site about hexgrids http://www.redblobgames.com/grids/hexagons/

[2017-01-28 13:29] helios2000 commented on #865
The source for dat format is still there. So it would be good to fix it as described.

[2017-01-29 14:06] LinuxDonald opened #975 "64 bit version of fife dont build on appveyor"
I need help on this.
Log i attached
[log.txt](https://github.com/fifengine/fifengine/files/737557/log.txt)

[2017-01-29 17:57] Niektory commented on #975
It seems AppVeyor is building 32-bit binaries even in the x64 job. So after changing Python to 64-bit it fails because everything else is 32-bit.

[2017-01-29 18:24] Niektory commented on #975
I think `-A "x64"` needs to be passed to cmake to build for x64.

[2017-01-29 19:33] jakoch commented on #975
Well, you can't simply rename x86 to x64 and hope for a x64 build.
You are building with the x86 toolchain, which produces an x86/32bit builds.
You need to configure a toolchain+compiler for x64.
Add a new compiler toolchain to the travis and appveyor matrix.
E.g. so that you use `cmake .. -G "Visual Studio 14 Win64"`, `%generator` = add a new generator to Appveyor.
Keep in mind, that all dependen

[2017-01-29 20:16] helios2000 commented on #632
With SDL2 it should be possible to make use of the dummy video driver, what should give the desired effect. Due to some bugs in Fifes codebase, it's currently not possible.

[2017-01-30 15:34] LinuxDonald commented on #975
Yeah i should fork it an work on it. When its done i should create an pr :)

[2017-01-30 21:51] Niektory opened #976 "Function keys don't work in GUI libraries"
GUI managers only listen to SDL events, and function keys (F1-F12) aren't dispatched as SDL events because of these lines:
https://github.com/fifengine/fifengine/blob/master/engine/core/eventchannel/eventmanager.cpp#L588-L593

After replacing it with `bool dispatchAsSdl = true;` function keys work fine just like other keys. This check should probably be removed, I don't see a reason for it.

[2017-01-30 22:36] prock-fife commented on #976
I'm in agreement that we should allow for the F keys to work.  Not sure why this hasn't come up earlier to be honest.  Simply changing that line looks reasonable to me.

[2017-01-31 16:49] #976 closed

[2017-01-31 18:34] Beliaar opened #978 "MapSaver does not write to existing files."
Saving a map trough the MapSaver will not work if the file already exists. Saving to a new file does work.

It is like that this is a tinyXML issue as the MapSaver was not changed recently, and it worked before.

[2017-01-31 19:30] Beliaar commented on #978
Apparently that is a problem with file sharing. This might be fixed if we open the file ourselves with the correct method and pass the file object to TinyXML. Or maybe by switching to TinyXML2, though the latter might not happen for some time.

[2017-01-31 20:07] #978 closed

[2017-02-01 17:54] helios2000 opened #981 "Add more keys to Fifechan"
As with SDL2, Fife got a bunch of new keys. They should also be usable with Fifechan.

[2017-02-02 16:25] #548 closed

[2017-02-05 23:21] LinuxDonald commented on #948
will be done by the fifechan fedora packager in the next days.

[2017-02-05 23:21] #948 closed

[2017-02-07 21:36] helios2000 commented on #803
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:36] #803 closed

[2017-02-07 21:37] helios2000 commented on #508
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:37] #508 closed

[2017-02-07 21:37] helios2000 commented on #522
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:37] #522 closed

[2017-02-07 21:37] helios2000 commented on #585
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:37] #585 closed

[2017-02-07 21:38] helios2000 commented on #445
Should be fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:39] helios2000 commented on #706
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:39] #706 closed

[2017-02-07 21:39] helios2000 commented on #843
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:39] #843 closed

[2017-02-07 21:39] helios2000 commented on #761
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:39] #761 closed

[2017-02-07 21:39] helios2000 commented on #721
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:39] #721 closed

[2017-02-07 21:40] helios2000 commented on #705
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:40] #705 closed

[2017-02-07 21:40] helios2000 commented on #666
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:40] #666 closed

[2017-02-07 21:40] helios2000 commented on #634
Fixed with https://github.com/fifengine/fifengine/commit/2c661d4cf2d7ce738af266c0cae480bed66460d0

[2017-02-07 21:40] #634 closed

[2017-02-07 21:42] helios2000 commented on #376
Should already be fixed.

[2017-02-07 21:42] #376 closed

[2017-02-07 21:45] helios2000 commented on #599
It's partially possible. But needs a better interface for clients or maybe a new Widget.

[2017-02-07 21:52] helios2000 commented on #332
Yep, that should be fixed.

[2017-02-07 21:52] #332 closed

[2017-02-09 17:10] ignatenkobrain opened #984 "python bindings fails to build"
I took 0.4.1 release and it fails...

[code]

[2017-02-09 17:14] ignatenkobrain opened #985 "consider using GNUInstallDirs"
[code]

Current solution is very unportable, since on Fedora and SUSE it should fo into /usr/lib64, but on debian it should go into /usr/lib/x86_64-gnu-linux.

[2017-02-09 17:15] LinuxDonald commented on #984
Please use fifechan 0.1.4

[2017-02-09 17:16] LinuxDonald commented on #985
Have you an idea how to fix this?

[2017-02-09 17:26] ignatenkobrain commented on #985
Something like this: https://github.com/openSUSE/libsolv/pull/141/files

[2017-02-09 17:28] ignatenkobrain opened #986 "mention BSD and BSL licenses in README"
[code]

Would be nice to mention this in README.

[2017-02-09 17:35] LinuxDonald commented on #985
@Beliaar could you maybe take an look on it please?

[2017-02-09 17:40] #986 closed

[2017-02-09 17:40] ignatenkobrain commented on #984
aha, thanks!

[2017-02-09 17:40] #984 closed

[2017-02-09 17:48] ignatenkobrain opened #987 "python bindings probably should not install cegui/librocket/etc. unconditionally"
If option cegui/librocket/etc. is set to OFF, we probably should not install such files for python.

Although I'm not entirely sure what's the idea behind.

[2017-02-09 17:57] ignatenkobrain opened #990 "[RFC] how to package python bindings"
Do you think I should package then within same package as fifengine or some subpackage (then with which name)?

[2017-02-09 18:00] LinuxDonald commented on #990
On debian/ubuntu it have the name: python-fife
On arch linux only one package fife

[2017-02-09 18:16] ignatenkobrain commented on #990
ok, thanks

[2017-02-09 18:16] #990 closed

[2017-02-09 18:29] #985 closed

[2017-02-10 08:02] ignatenkobrain opened #991 "Unchecked dependency for Xcursor"
[code]

Although is it really necessary to stick to X11?

[2017-02-10 11:57] LinuxDonald commented on #991
@helios2000 could we port it to sdl2? I have seen that we use for Windows sdl cursor?
Then we could use it to for Linux?

[2017-02-10 16:35] helios2000 commented on #991
Travis is also happy. So I'll close the issue.

[2017-02-10 16:35] #991 closed

[2017-02-10 17:35] prock-fife commented on #295
Moving to fifechan.

[2017-02-10 17:35] #295 closed

[2017-02-13 17:57] #732 closed

[2017-02-15 20:35] LinuxDonald opened #994 "Network Support"
It would be nice to add fife network support for rpg games for example for other types of games.

[2017-02-15 20:52] prock-fife commented on #994
I agree but I would want to use an open source library to accomplish this (and make it optional).   We would need to investigate this further.  Any suggestions for an API?

[2017-02-16 00:11] vtchill commented on #994
I know raknet is a big one that i've heard of in the past. Not sure of other alternatives or the state of it currently. It may be one to look into.

[2017-02-16 01:34] LinuxDonald commented on #994
[Rakenet](https://github.com/OculusVR/RakNet) Dead?
[Enet](https://github.com/lsalzman/enet) Dead? (Python Support)
[Zeroc-ice](https://github.com/zeroc-ice/ice) active (Python Support)
[PCOCO](https://github.com/pocoproject/poco) active

[2017-02-16 05:44] Niektory opened #995 "Engine::changeScreenMode() crashes when using OpenGL"
Engine::changeScreenMode() crashes the engine when using OpenGL. It only works when there is no map loaded, but unloading the map, changing the mode and loading the map again also crashes.

That's on Windows 7 64-bit, GeForce GTX 650, driver version 342.01

[2017-02-16 12:40] prock-fife commented on #995
Odd... that used to work.  Probably because there are still some images loaded on GL surfaces.  I can't remember the details now because It's been a long time.

[2017-02-16 15:57] helios2000 commented on #995
Additional the Window Icon and Title are gone even with the SDL backend. And Fifechan Gui is also no longer there.

[2017-02-16 16:07] Niektory commented on #995
Title and icon can be restored by calling `m_renderbackend->createMainScreen(mode, m_settings.getWindowTitle(), m_settings.getWindowIcon());` instead of `m_renderbackend->setScreenMode(mode)`, but it doesn't help with the crash.

[2017-02-16 18:29] prock-fife commented on #994
[Asio](http://think-async.com/Asio)
[Boost.asio](http://www.boost.org/doc/libs/1_63_0/doc/html/boost_asio.html)

[2017-02-17 15:24] Niektory commented on #995
It works better now, but I still occasionally get a crash when changing from a higher resolution to a lower one. Here's what I managed to squeeze out of the debugger:
[code]

[2017-02-17 16:15] helios2000 commented on #995
Ok, I'll take a look again. Here it works great, so sorry for the inconvenience.

[2017-02-17 16:47] #995 closed

[2017-02-18 01:40] jakoch commented on #994
One line of a networking related feature request equals 1000 hours of complicated work. :)

- Raknet's state isn't good since Oculus acquired it. It's now old and unmaintained. 👎
- Zeroc ICE would cause license issues. https://zeroc.com/licensing LGPL + GPLv2 might fit for open-source, but when fifengine includes zeroc and a user decides to build a commerical game with it, then he would need to bu

[2017-02-18 05:19] Niektory commented on #995
838cc55 introduced a problem in this test (modified tutorial, click to cycle resolutions):
https://github.com/Niektory/python-tutorials/blob/9755238836cc6d2bb96859690193bb36b4f02bee/tutorial1c/scripts/tutorial1.py
The grass is not rendered:
![python 2017-02-18 05-55-56-59](https://cloud.githubusercontent.com/assets/4470900/23090498/874b9cea-f59f-11e6-8abb-a6edb385bae8.png)
It works fine if I drop

[2017-02-20 19:14] prock-fife commented on #994
@jakoch sounds like you have a fair bit of knowledge when it comes to games and network code.  Is ENet supported on andoid/ios?

[2017-02-20 19:46] jakoch commented on #994
iOS is basically unix-style network stuff and enet should work right out of the box.

For Android, uhm, that's Java land and complicated. The library needs to be wrapped via [Android NDK](https://developer.android.com/ndk/guides/concepts.html).
That enables your Android game (Java code) to call functions of the native library through the Java Native Interface framework. There is a repo around: htt

[2017-02-22 02:49] jakoch commented on #904
Old requirements:
[code]
Switch to GLEW incoming in branch: https://github.com/fifengine/fifengine/tree/replace-glee-with-glew

[2017-02-22 21:43] helios2000 commented on #550
The goal to have a consistently code is great. My problem with the tab to space change is that we lost the history of the code. So github functions like blame would bring nothing more.
We currently use tabs in C++ and Python code. So I would prefer to change the few remaining spaces to tabs.

[2017-02-23 02:01] #904 closed

[2017-02-23 06:37] krichter722 opened #1000 "make fails due to "error: ‘Point’ is not a member of ‘fcn’""
After installing `fifechan` with `mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr ..` and `make && sudo make install` following http://docs.fifengine.net/developer-manual/en/#_building_fifengine_on_linux building `fifengine` fails due to `error: ‘Point’ is not a member of ‘fcn’`, complete build log provided at https://richtercloud.de:451/index.php/s/V7DUEgQA4Xiqamp.

experienced wi

[2017-02-23 16:16] helios2000 commented on #1000
It looks like you do use the master version of fifengine instead of 0.4.1.
The 0.4.1 relase of fifengine works with the 0.1.4 release of fifechan. If you want to use master, then you need the master versions of both.

[2017-02-23 16:51] fiziologus opened #1001 "fife need fifechan even if fifechan support disable"
fifechan files (FCHAN_SRC) use for build fife python extension.

[2017-02-24 03:05] jakoch commented on #1001
Thank you for the report.
Adding FCHAN_SRC unconditionally is wrong. It needs to be wrapped into the fifechan condition.

Note for myself: [CMakeLists-master#L842](https://github.com/fifengine/fifengine/blob/a58c87b40cdb1f18fa3236156470f6c0b063362f/CMakeLists.txt#L842)

[2017-02-24 03:47] jakoch commented on #987
Thank you for reporting the issue.

Do you mean the py files inside `engine/python/fife/extensions/{cegui|fifechan|librocket}` folder?https://github.com/fifengine/fifengine/tree/master/engine/python/fife/extensions

Otherwise, please give me a link to the log of one of the CI services,
so that i see which unconditionally installed artifact(s) you mean.

Thanks, Jens

[2017-02-24 15:06] jakoch opened #1003 "[cmake] cmake_minimum_required version"
Hey!

I would like to raise the `cmake_minimum_required` version to `3.2.2`.
The last change here was a raise from `2.6` to `2.8.5`, see [here](https://github.com/fifengine/fifengine/commit/063f4e111624db75666760176e15e7cee31fe279#diff-af3b638bc2a3e6c650974192a53c7291R5).

I've checked our build services for the lowest common version.

Here is the overview:

Travis-CI has

- CMake v3.2.2 on Linux

[2017-02-24 16:00] LinuxDonald opened #1004 "Uh crash error/rio_de_hola"

[2017-02-24 17:35] helios2000 commented on #1004
What happens exactly? Is that always? Which fife version? And so on.

[2017-02-24 18:52] LinuxDonald commented on #1004
Fife Version lastest git.
Starting both.
Log from rio_de_hola demo:

[code]

[2017-02-25 13:20] mbillingr commented on #631
Hi there, I started using FiFE with Python 3, which works smoothly but I had to manually adjust some implicit relative imports in `pychan/widgets/`: Imports of the form `from widget import Widget` no longer work in Python 3 and should be written as `from .widget import Widget`.

I don't think these files are automatically generated because they are part of the source tree, but then I don't know mu

[2017-02-25 13:23] Beliaar commented on #631
Please check the python3_futurize branch, that contains the python 2.7/python 3 compatible versions of the extension package now. And yes, those are not generated by swig.

[2017-02-25 13:27] mbillingr commented on #631
That is exactly the branch that I used.

[2017-02-25 13:46] Beliaar commented on #631
hmm... unless i messed up the last merge it should have the correct imports for python 3 - i accidentally pushed it, though, before i tested it.

[2017-02-25 14:14] mbillingr commented on #631
After taking a closer look, some of the files  are fine and some still use the old imports.

For example, `slider.py` was changed 1 month ago to use explicit imports but in `spacer.py` the relevant imports have not been touched for 3 years.

[2017-02-25 15:47] Beliaar commented on #631
It is possible that these are files that were added from another branch after i did the original conversion.

[2017-02-25 15:59] mbillingr commented on #631
I see, thank you. Then I will use my manually patched files for now and look forward to your next commit :)

Sorry for hijacking the issue.

[2017-02-25 17:02] #1004 closed

[2017-02-25 20:47] jakoch opened #1005 "[cmake] finder OpenAL → OpenALSoft"
We currently use the official finder for OpenAL by running:

    find_package(OpenAL REQUIRED)

But we use OpenAL-Soft with a different installation location for the library!

Example-wise Mac:
- openal-soft is fetched, https://travis-ci.org/fifengine/fifengine/jobs/205339213#L41
- lands here: https://travis-ci.org/fifengine/fifengine/jobs/205339213#L996
- and then we use the official cmake finder

[2017-02-25 21:21] helios2000 commented on #1000
I'll close the issue. If it makes still problem you can reopen it.

[2017-02-25 21:21] #1000 closed

[2017-02-26 00:11] susnux opened #1006 "audio_tests.py broken"
audio_tests.py fails with "No module named fifelog".
I think this: `import time, fifelog`
has to be replaced with this: `from fife.extensions import fifelog`
(and the import for time).

Complete log:

[2017-02-26 07:47] krichter722 commented on #1000
The 0.4.1 relase of fifengine works with the 0.1.4 release of fifechan. If you want to use master, then you need the master versions of both.

This is indeed the reason for the issue. I'd be appreciated if a check for the required versions failing with a helpful error message would be added to the `cmake` setup.

[2017-02-26 21:12] helios2000 commented on #1006
Thank you for reporting the issue!

[2017-02-28 15:59] #1003 closed

[2017-02-28 16:43] prock-fife commented on #1003
I seem to remember some linux distros still using 2.6???

[2017-02-28 17:22] helios2000 commented on #485
Apart from the sound effects, I have implemented all the points.

[2017-02-28 17:29] helios2000 commented on #192
Thats is really a complex theme. I'll implement all sorts of possible sound effects from OpenAL EFX and addtitional fade in and out effect. I will also implement filters.
At the end Fife would have 15 sorts of sound effects and 3 sorts of filters.

[2017-02-28 17:34] helios2000 opened #1008 "Render problems with SDL 2.0.5"
The main camera is broken on rio de hola. Only the small camera is rendered correctly. If the small camera is disabled the main screen looks right again. So it could be that there is a problem with cliping planes.
Additonal some gui elements looks broken. No border lines and so on.

[2017-02-28 18:57] LinuxDonald commented on #1003
@prock-fife i dont think that. debian stable use 3.0 https://packages.debian.org/jessie/cmake
And if an linux distros have older packages then debian maybe its dead :D

[2017-02-28 21:44] ignatenkobrain commented on #1003
RHEL uses 2.8.11

[2017-02-28 21:45] ignatenkobrain commented on #1003
but who cares about that outdated thing ;)

[2017-03-01 06:46] LinuxDonald commented on #1003
ups :( yeah RHEL/CentOS but we cant support all linux distro. And RHEL/CentOS have an very long life cyle per version.

[2017-03-04 16:15] LinuxDonald commented on #940
gcc should now be ready https://github.com/fifengine/fifengine/commit/87bb754d077d0b4f5592e7eb92dea554af5ce162

[2017-03-05 07:14] AndyMender opened #1010 "Uncoupled endif(build-python) in CMakeLists.txt"
As is, fifengine will not build from the python3_futurize branch as there is a loose `endif(build-python)` statement on line 811. Removing it fixes the problem.

[2017-03-05 09:12] Beliaar commented on #1010
hmm, let me check that, i am sure i did try to build after the merge.

[2017-03-05 09:14] Beliaar commented on #1010
oh... i somehow did not commit that change... one minute.

[2017-03-05 09:20] AndyMender commented on #1010
It runs fine. CMake completes the setup and the module is built.

[2017-03-05 09:20] #1010 closed

[2017-03-09 15:53] Niektory opened #1012 "Implement hardware image cursor"
SDL2 supports setting an image to the hardware cursor via [SDL_CreateColorCursor()](https://wiki.libsdl.org/SDL_CreateColorCursor), which can replace our current software implementation.

Advantages:
- Much lower latency when VSync is on.
- Retains smooth movement when framerate is low or rendering stalls.

Limitations:
- The cursor might not show up on screenshots or videos.
- Only one image can

[2017-03-09 16:52] helios2000 commented on #1012
Ok as an additional cursor option. Do you want to implement it?

[2017-03-09 17:05] helios2000 opened #1013 "Joystick and gamepad support"
Fife still leaks support for it. It should be very easy to implement it as SDL is quite helpful.

[2017-03-09 17:10] Niektory commented on #1012
Yeah I think I'll give this a shot. I think this should be controlled globally with an engine setting. Is that OK?

[2017-03-09 17:31] helios2000 commented on #1012
Yea should be OK. But keep the possibility around to switch between hardware and animated cursors on runtime. Otherwise, people will not understand why animated cursors no longer work, if hardware cursor is enabled.

[2017-03-09 17:33] helios2000 opened #1014 "Window class"
The idea is, to implement a Window class. This class should handle the Window and the related context creation, furthermore the window events and maybe pixel calculations for e.g. mobile devices or High DPI.
The benefit would be that we would move the code from the backends to the new class and could extend it easier.

[2017-03-10 11:59] LinuxDonald commented on #1005
fixed in master.

[2017-03-10 11:59] #1005 closed

[2017-03-10 12:00] LinuxDonald commented on #994
@jakoch will you maybe do this? (add network support to fife)

[2017-03-10 13:22] jakoch commented on #994
No. I see this as a feature request with a really low priority and a milestone "far in the future".
Please don't underestimate the time and effort needed to get a networking layer implemented, tested, debugged and profiled. Considering that we have zero test coverage and many longstanding issues to resolve, i won't start to work on new features with this kind of workload.

[2017-03-10 13:38] jakoch commented on #1001
@Beliaar You already solved this with the `FIFE_SOURCES` change, right?

[2017-03-10 18:16] helios2000 commented on #662
Fixed with https://github.com/fifengine/fifengine/pull/1015

[2017-03-10 18:16] #662 closed

[2017-03-10 18:29] helios2000 commented on #919
@Beliaar Could you test it again without the clearBackBuffer call? Maybe some changes like the enableExtraStateSettings fixed the problem already. Otherwise I've no idea what we could do on our side to fix it.

[2017-03-10 19:14] #968 closed

[2017-03-10 20:02] #940 closed

[2017-03-10 21:14] #192 closed

[2017-03-10 21:15] #485 closed

[2017-03-10 21:15] #346 closed

[2017-03-10 21:15] helios2000 commented on #973
Problem should be fixed with https://github.com/fifengine/fifengine/pull/1016

[2017-03-11 03:22] Niektory opened #1018 "Sounds are cut off at the beginning"
The effect is more noticeable when framerate is low. It seems the time that passes between [this](https://github.com/fifengine/fifengine/blob/ec059ef2c48b346e404d0f8c0a83798e1da707a2/engine/core/audio/soundemitter.cpp#L346) and [this](https://github.com/fifengine/fifengine/blob/ec059ef2c48b346e404d0f8c0a83798e1da707a2/engine/core/audio/soundemitter.cpp#L739) is the time that is cut off. If I set `

[2017-03-11 07:04] Beliaar commented on #1001
Ah, yeah, i forget that this issue existed. It was fixed with commit 6d5e0d32f1d9a327550970ec600f87afe333e3dd.

[2017-03-11 07:04] #1001 closed

[2017-03-11 07:07] Beliaar commented on #919
@helios2000 I will check it if I have time, thanks for mentioning that.

[2017-03-11 13:24] #1018 closed

[2017-03-11 14:47] Niektory commented on #1018
Works fine now, except when the sound is really short (shorter than the time between play and the first update) it won't play.

[2017-03-11 14:54] LinuxDonald commented on #973
Fixed. Tested it. THX @helios2000

[2017-03-11 14:54] #973 closed

[2017-03-11 15:03] helios2000 commented on #1018
Ok I'll fix the end detection too. But the idea behind it, is to handle sound sources that go out of range or come into range. If your FPS is extremly low and your track is extremly short it will simply be skippted.
The same will happen if you have tracks that startet but no source handler is there. I do prefer the way to use timestamps instead of starting the sound maybe 5 minutes after play was

[2017-03-11 16:05] Niektory commented on #1018
Well, the first problem was very noticeable with my GUI clicking sound at 60 FPS (so not extremely low). I did set it lower afterwards for testing so I noticed the second problem. Running out of source handlers or being out of range is another story, I agree that playing the sound much later wouldn't be right.

[2017-03-11 17:07] helios2000 commented on #1018
That was only to explain why there are timestamps around and there can exists situations where clips are skipped. You are right that it should work on low FPS too and I hope it is fixed now, even for short tracks. I'm still amazed that you hear a difference of 16ms.

[2017-03-13 11:41] Beliaar commented on #631
@fifengine/developers I'd like to ask that you try to write code that is already compatible with python 3 if possible - even on master. For a reference, check here - ignoring those things that need the future, builtins, past or six module when working in master: http://python-future.org/compatible_idioms.html

Once the futurize branch is merged into master you would have to do that one way or anot

[2017-03-13 16:13] helios2000 commented on #1006
Fixed with https://github.com/fifengine/fifengine/commit/311a398bc59c19e093e428f6df0fb984c142713b

[2017-03-13 16:13] #1006 closed

[2017-03-13 16:38] helios2000 commented on #445
It is not totally fixed. Problem remains as long as the parent widget has not enough space. Problem is the bad concept of fifechans clip areas.

[2017-03-13 16:48] helios2000 commented on #932
The extenions_tests are more or less unused. But I've fixed the imports. The swig_tests are fixed too. Related commit https://github.com/fifengine/fifengine/commit/311a398bc59c19e093e428f6df0fb984c142713b

[2017-03-13 16:54] helios2000 commented on #766
Instead of improve it, we maybe should remove it. The current system has optical flaws and is quite limited.

[2017-03-13 17:45] #919 closed

[2017-03-14 19:36] MrksKwsnck opened #1021 "Unable to compile due to wrong SWIG version"
I am trying to compile fifengine v0.4.1 accordingly to the [documentation](http://docs.fifengine.net/developer-manual/en/#_building_fifengine) on a freshly installed Ubuntu 16.10 with all dependencies up to date.

Unfortunately CMake complains about the SWIG version 3.0.8 and advices me to upgrade.
But there isn't any new version in the repository.

[code]

Any suggestions?

[2017-03-14 20:07] helios2000 commented on #1021
The problem with the version 3.0.8 is that it is buggy. Other versions, even lower, should work. Travis do use 3.0.2.

[2017-03-14 21:09] MrksKwsnck commented on #1021
Thanks for that hint. I just compiled SWIG 3.0.12 by myself added the `SWIG_EXECUTABLE` flag to CMake. Now fifengine compiled succesfully.

[2017-03-14 21:09] #1021 closed

[2017-03-15 16:37] #1012 closed

[2017-03-16 15:42] CrafterSvK opened #1022 "I was not able to compile it from AUR"
I was not able to compile it using ArchLinux AUR repository.

[2017-03-16 16:05] LinuxDonald commented on #1022
.... more details please have you used my pkg file?

[2017-03-16 16:50] CrafterSvK commented on #1022
`Compilation error:
Scanning dependencies of target _fifechan
[ 99%] Building CXX object CMakeFiles/_fifechan.dir/fifechanPYTHON_wrap.cxx.o
/tmp/yaourt-tmp-dixi/aur-fife/src/fifengine-0.4.1/build/fifechanPYTHON_wrap.cxx: In function 'PyObject* _wrap_MouseListener_mouseWheelMovedRight(PyObject*, PyObject*)':
/tmp/yaourt-tmp-dixi/aur-fife/src/fifengine-0.4.1/build/fifechanPYTHON_wrap.cxx:5114:35: er

[2017-03-16 17:11] LinuxDonald commented on #1022
do you use fife or fife-git package? and fifechan or fifechan-git?

[2017-03-16 17:19] CrafterSvK commented on #1022
fifechan and fife

[2017-03-16 17:25] LinuxDonald commented on #1022
for me it looks that you have wrong fifechan version.

[2017-03-16 17:26] CrafterSvK commented on #1022
Is this a right version? "0.1.4-1"

[2017-03-16 17:27] LinuxDonald commented on #1022
0.1.4 is the right version and have mouseWheelMovedUp funtion

[2017-03-16 17:27] LinuxDonald commented on #1022
Have you maybe an older version of fifechan installed?

[2017-03-16 17:27] CrafterSvK commented on #1022
I have that version so I don't know. Just trying fifechan-git package. Will be back in a minute

[2017-03-16 18:00] CrafterSvK commented on #1022
Doesn't even work with fifechan-git. Same problem. I have latest version

[2017-03-16 18:28] CrafterSvK commented on #1022
There is "mouseWheelMovedLeft" which is not right it should be up or down i think

[2017-03-16 18:44] helios2000 commented on #1022
No, thats all right.
Look here https://github.com/fifengine/fifengine/blob/master/engine/core/eventchannel/eventmanager.cpp#L336 and here https://github.com/fifengine/fifechan/blob/master/include/fifechan/mouselistener.hpp#L141

I'm pretty sure you mixed versions of fife and fifechan. If you want to use master version then you need master version of both (fife and fifechan). Or if you want to use

[2017-03-16 18:46] CrafterSvK commented on #1022
I installed that lol. I am sure I have 0.4.1 (fife) and 0.1.4 (fifechan)... One guy from AUR comments have same problem as me

[2017-03-16 18:59] helios2000 commented on #1022
The mouse wheel commits are from 26. Jan. and the relase tags from 7.Feb. So it should be included.

[2017-03-16 19:14] CrafterSvK commented on #1022
I know right. I am just compiling my own versions from latest github so maybe it will work

[2017-03-16 19:28] CrafterSvK commented on #1022
It works only if I compile it from github. So the problem is AUR configuration maybe.

[2017-03-16 19:28] #1022 closed

[2017-03-18 13:16] helios2000 opened #1023 "Segfault during TimeManager update()"
Problem happens with Unknown Horizons and is Gui related.
It seems that the Timers come from Pychans event redirection. See https://github.com/fifengine/fifengine/blob/master/engine/python/fife/extensions/pychan/events.py#L166
I'm still not sure why we redirect the Events one pump cycle. It seems to work even without the redirection and it fixes the segfault.

Related backtrace:

[2017-03-18 13:31] #1023 closed

[2017-03-19 21:01] helios2000 commented on #1013
Done with https://github.com/fifengine/fifengine/pull/1025

[2017-03-19 21:01] #1013 closed

[2017-03-20 23:25] AndyMender opened #1026 "OPENALSOFT_INCLUDE_DIR not properly defined on FreeBSD"
I'm using FreeBSD (11-RELEASE as of now) as my development platform and I noticed that fifengine no longer rebuilds properly due to the inclusion/change of a cmake variable OPENALSOFT_INCLUDE_DIR. I quickly looked into the cmake/FindOpenALSoft.cmake cmake script and noticed that Darwin is added as a platform, but FreeBSD is not.

The correct path for the OPENALSOFT_INCLUDE_DIR on FreeBSD is: /usr/

[2017-03-21 05:31] LinuxDonald commented on #1026
I will do it :)

[2017-03-21 07:11] #1026 closed

[2017-03-21 18:01] helios2000 commented on #793
Just to make it clear, if we want to go the way to OpenGL ES 2 and OpenGL 3 or above we have to change a lot. We've to change the render code from Fixed Function Pipeline to Programmable Pipeline. Propably the Renderers and all related features as Lights, Overlays and so on need a rewrite / review. We also have to consider what we want to do with the SDL backend and Fifechan.

We should start with

[2017-03-23 09:27] Beliaar opened #1027 "Make FifeClass objects comparable"
Currently objects that have been retrieved through swig at different times are not comparable because swig uses different memory positions to store them. I have been made aware that those classes hjave a unique fife id, though.

I'd like to make that the normal equality testing method from python. This can be done by adding this code to utilbase.i:

	%extend FifeClass {
		bool __eq__(const PyObjec

[2017-03-23 16:15] helios2000 commented on #1027
I think this is a good idea.

[2017-03-23 18:34] Niektory commented on #1027
Shouldn't it be `if (!other) return true;` in `__ne__()` though?

[2017-03-23 18:56] Beliaar commented on #1027
Ah, yes, i forgot that there too, gonna change it.

[2017-03-24 07:08] #1027 closed

[2017-03-26 09:23] Beliaar commented on #550
Just a note, I just found this:

https://coderwall.com/p/x8xbnq/git-don-t-blame-people-for-changing-whitespaces-or-moving-code.

[2017-03-29 20:19] melloskitten opened #1028 "fifengine make error"
Hello.

I am following your [manual](http://docs.fifengine.net/developer-manual/en/) to build fifengine and fifechan. I have successfully installed fifechan, but whenever I try to `make && sudo make install` for fifengine, I keep getting the following error:

`/fifengine/_build/fifePYTHON_wrap.cxx:113588:15: error: no matching       member function for call to 'erase'`

I'm using

- Linux Mint 17.

[2017-03-29 21:00] LinuxDonald commented on #1028
@helios2000 have you maybe an idea?

[2017-03-30 15:37] helios2000 commented on #1028
Sounds like a C++11 problem or similar with swig. But it should work with the used versions of swig and gcc / clang. I'm sorry, more ideas I have not.

[2017-03-30 15:58] melloskitten commented on #1028
Alright then - what is the recommended version of swig?

[2017-03-30 16:13] helios2000 commented on #1028
Well, it should works with your 3.0.12, that's the problem. I'm using 3.0.11 but it should not make any difference. I'll try it with 3.0.12 too, maybe they changed something.

[2017-03-30 16:18] melloskitten commented on #1028
Ah ok. Which clang version do you use ..?

[2017-03-30 16:19] melloskitten commented on #1028
I just downgraded to swig 3.0.11, still same error

[2017-03-30 16:25] helios2000 commented on #1028
Yea, and I upgraded to 3.0.12 without problems.
I'm on Windows and using MSVC 2015. But our travis do use clang 3.5.0 and gcc 4.8.5.

[2017-03-30 22:16] LinuxDonald commented on #1028
@melloskitten could you maybe upgrade gcc to version 4.9 from backport repo and test it again?

[2017-03-30 23:30] melloskitten commented on #1028
Alright, I also tried clang 3.5.0, but alas, no difference.
@LinuxDonald thanks for the suggestion, I will try that asap.

[2017-03-31 00:45] LinuxDonald commented on #1028
You could also try with clang 3.9

[2017-03-31 03:43] Niektory commented on #1028
Maybe post the full build log. We might find a hint there.

[2017-03-31 11:14] melloskitten commented on #1028
**Configs I have at the moment:**
cmake version 3.2.2
clang  version 3.8.0-2ubuntu3~trusty4 (previously  3.4-1)
Rest is same as above.

**fifechan is set up, everything worked.**

**Now to fifengine:**

First I built with only python support.

This is the build log:

[code]

And when I try to make & make install, this is the error ->

[code]

**Now I'll try to build with Python support with Clang

[2017-03-31 15:16] LinuxDonald commented on #1028
Clang 3.9 backports: deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.9 main
You need:
- clang-3.9
- llvm-3.9-dev
- libclang-3.9-dev
Swig 3:
deb http://archive.ubuntu.com/ubuntu trusty-backports main restricted universe multiverse" >> /etc/apt/sources.list'; sudo apt-get update -qq; sudo apt-get install -yqq swig3.0/trusty-backports

You can too upgrade gcc to 4.9

[2017-03-31 16:15] helios2000 opened #1029 "Add RenderCache"
Problem with our renderers is that we recalculate all things new, without caching (except the LayerCache). That is slow and makes a proper implementation of VBOs or even VAOs practically impossible. So thats a blocker for newer OpenGL stuff.
Additional we could use / add more powerful functions. As example SDL2 can render a bunch of lines with one call instead of drawing every single line. With Op

[2017-03-31 16:27] vtchill commented on #1029
Makes sense to me and sounds like a really good addition.

[2017-03-31 20:15] melloskitten commented on #1028
THANK YOU! It finally worked.  Thanks for your help, I really really appreciate it! :)

Maybe you can also link to this issue in your FAQ section for other people? In case they run into the same problems? :)

[2017-03-31 20:15] #1028 closed

[2017-05-05 19:43] chrisisbeef opened #1031 "Guidance for VS2017"
I'm using Visual Studio 2017 - as a newbie to VS generally but having written C++ for a while; I'm looking for some "getting started" guidance on how to create my project, how to set up references, etc.

A tutorial that steps through creation of "Hello World" in C++ also seems to be missing; I'm more than happy to collaborate on my experiences and contribute back to such a guide - I'm just unsure

[2017-05-05 20:44] LinuxDonald commented on #1031
@helios2000 that's something for you :-)

[2017-05-06 15:54] chrisisbeef commented on #1031
@helios2000 I'm making some progress here, due to the built-in CMake support in VS2017 this may be simpler than I originally anticipated (I was trying to do it without using CMake, which I think is still a valuable tutorial; but alas...)

Here are my notes so far

1) Create a new project of type Win32/Makefile Project
2) Download the latest libfife and libfife_dependencies from Github
3) Under new

[2017-05-06 15:58] LinuxDonald commented on #1031
@chrisisbeef here is an fife sdk https://github.com/fifengine/fife-windows-sdk

[2017-05-07 03:16] prock-fife commented on #1031
see https://github.com/fifengine/fifengine/issues/935

[2017-07-16 20:26] MarkusHackspacher opened #1032 "_fife not found at python3.5 and FIFE version 0.4.1+build.f6dff2c"
I build the fifengine from the actual git version and got an error with
python3 -c 'from fife import fife; print(fife.getVersion())'
ImportError: /usr/lib/python3/dist-packages/fife/_fife.so: undefined symbol: _ZN3fcn6Widget11drawOutlineEPNS_8GraphicsE.

[code]

[2017-07-17 21:48] MarkusHackspacher commented on #1032
Could it be:
make install in Travis:
[code]
and at me:
[code]
Make the `Removed runtime path` and `Set runtime path` the different?

[2017-07-19 16:31] MarkusHackspacher commented on #1032
The first cmake call was not complete, I make it a debian sid system.
[code]

[2017-07-19 19:20] LinuxDonald commented on #1032
Could you upgrade to an higher swig version? Because I think 3.0.10 had an bug.

[2017-07-19 20:25] MarkusHackspacher commented on #1032
Now I have swig 3.0.12, the newest from the homepage. but the same error:

[code]

[2017-07-20 00:23] LinuxDonald commented on #1032
Have you build fifechan with: cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr ..
Maybe build fife with: cmake -DPYTHON_EXECUTABLE=/usr/bin/python3.5 -DCMAKE_INSTALL_PREFIX:PATH=/usr ..

[2017-07-20 10:30] MarkusHackspacher commented on #1032
I see not in fifechan that it look for python.
https://github.com/fifengine/fifechan/blob/master/CMakeLists.txt

I tryed to build the relase fifechan 0.1.4 and fifengine 0.4.1. with python3.5, I got a shorter faultmessage if I look the version. For the exakt fault I looking this evening.

[2017-07-20 12:48] LinuxDonald commented on #1032
Don't use fifechan release version. There is something broken.

[2017-07-20 17:07] helios2000 commented on #1032
If you build fife it builds the python binding for fifechan.
https://github.com/fifengine/fifengine/blob/master/CMakeLists.txt#L813

[2017-07-20 20:07] MarkusHackspacher commented on #1032
@LinuxDonald your suggestion not works!
[code]

[2017-07-21 07:37] MarkusHackspacher commented on #1032
I hab delete fifechan directory and clone the actual new from github and have the same error.
I tested it with Clang 4.0.1 and have the same error.

Have somebody any Idea?

[2017-07-21 10:34] helios2000 commented on #1032
Do you use fife master too? The drawOutline method is new so that you need fifechan and fife masters together.

[2017-07-21 12:47] MarkusHackspacher commented on #1032
Yes, I use the newst fifechan and fifenergie from github master, you can see this my comment:
== Building FIFE version 0.4.1+build.4cf99f2

[2017-07-21 13:18] LinuxDonald commented on #1032
Hm than I really don't know what could be the problem :-( clang swig are not the problem here.

[2017-07-21 14:09] LinuxDonald commented on #1032
When I will find the time I will setup an vm with Debian sid and Test it.

[2017-07-24 19:13] MarkusHackspacher commented on #1032
I tested it on debian 9.1 at a live dvd. It works,

$ python3 -c 'from fife import fife; print(fife.getVersion())'
0.4.1+build.937a230

fifechan$ mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr ..
-- The C compiler identification is GNU 6.3.0
-- The CXX compiler identification is GNU 6.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc --

[2017-07-28 02:25] MarkusHackspacher commented on #1032
I have installed Debian Sid in virtualbox and try to build fifengine and get this fault:

[code]

[2017-09-24 14:14] LinuxDonald commented on #1032
@MarkusHackspacher maybe any news about it? Is it still an problem?

[2017-09-24 14:16] LinuxDonald commented on #1031
@chrisisbeef any news about this? Have you maybe some more infos for us or would you like to help write the Doc for it?

[2017-09-24 14:16] LinuxDonald commented on #1008
SDL 2.0.6 is out i will work on the next days on the new Windows SDK that use it.

[2017-09-24 14:18] #880 closed

[2017-09-24 14:20] LinuxDonald commented on #631
This is now "done". Python3 Support is in master. For problems with python3 we should open new tickets.

[2017-09-24 14:20] #631 closed

[2017-09-24 18:43] MarkusHackspacher commented on #1032
I have it not tested with Debian Sid long time.

[2017-09-25 07:48] LinuxDonald commented on #1008
New SDK is out: https://ci.appveyor.com/project/LinuxDonald/fife-windows-sdk/build/artifacts

[2017-09-27 14:52] helios2000 commented on #1008
Does the problem still occur with 2.0.6? You can simple check it, change the backend setting from OpenGL to SDL and start rio de hola.

[2017-10-03 11:24] #1008 closed

[2017-10-08 12:29] #518 closed

[2017-10-15 12:11] #305 closed

[2017-10-22 04:38] s172262 opened #1042 "[MacOS] Please use "-undefined dynamic_lookup" with MacOS"
Python extension modules **should not** link directly to a Python library binary on `macOS`.
They should be linked with "-undefined dynamic_lookup" instead of "-lpython" or "-framework Python" for MacOS.

So, please replace "PYTHON_LIBRARY:FILEPATH" with "-Wl,-undefined,dynamic_lookup" in "CMakeFiles/_fifechan.dir/link.txt" and "CMakeFiles/_fife.dir/link.txt" for MacOS.

[2017-10-22 09:07] LinuxDonald commented on #1042
@Beliaar could you take an look here please?

[2017-10-22 09:51] LinuxDonald commented on #1042
@s172262 when this issue is fixed. Could you maybe help us to provide MacOS packages? Because we dont have MacOS Maintainer on both projects :( fife and Unknown-Horizons.

[2017-10-22 15:44] Beliaar commented on #1042
Do you know how that would be done in the CMakeLists file? The ones you mention are created by that.

[2017-10-22 16:07] s172262 commented on #1042
I'm sorry, I am just a network engineer.

`link.txt` might be made by `target_link_libraries()` in CMakeList.txt at line 755.

[2017-10-22 19:28] s172262 commented on #1042
I made PR https://github.com/fifengine/fifengine/pull/1043 for this.

[2017-10-22 20:39] LinuxDonald commented on #1042
@s172262 how we can with this pr that fife should use python3?
Could you maybe help us please?

[2017-10-23 02:56] s172262 commented on #1042
System `python` of MacOS 10.13 is version **"2.7.10"**. So I wish that `fife` works on python **2.x**.

[2017-10-23 04:37] Beliaar commented on #1042
fife supports both python 2 and 3(.4+). I am not sure how that dynamic lookup works, but it probably selects the installed version of python. Not sure what would happen if 2 versions are installed, though.

[2017-10-23 07:01] s172262 commented on #1042
I installed three versions of "python". Version **"2.7.10"** is system `python`.Version **2.7.14** is **Homebrew**'s `python`. And Version **"3.6.3"** is  **Homebrew**'s `python3`.

The following log is force using `python3` with `-DPYTHON_SITE_PACKAGES=/usr/local/Cellar/fifengine/0.4.1/lib/python3.6/site_packages`.
[code]
`Python3` was ignored. Fifengine was installed in "/usr/local/Cellar/fifeng

[2017-10-23 10:53] s172262 commented on #1042
I built unkown-horizons and run. But ...https://imgur.com/a/R9b2j

[2017-10-23 14:43] LinuxDonald commented on #1042
How have you build fife with python3? Or do you use the last release?

[2017-10-23 15:04] s172262 commented on #1042
I cannot build with `python3`. Because `cmake` finds out `python2` first.
I built from release `0.4.1.tar.gz`.

[2017-10-23 18:19] helios2000 commented on #1042
It's a known problem that you see with Unknown-Horizons. Currently the fix is to modify your settings.xml file and set both GLUseFramebuffer and GLUseNPOT to False. I'm not sure how UH handles the settings, maybe @LinuxDonald can help here.

[2017-10-24 00:22] LinuxDonald commented on #1042
There should be an settings.xml file

[2017-10-24 00:23] LinuxDonald commented on #1042
@s172262 could you say us maybe the path to python3 on MacOS please?

[2017-10-24 03:20] s172262 commented on #1042
[code]

[2017-10-24 03:40] s172262 commented on #1042
[code]

[2017-10-24 15:50] s172262 commented on #1042
[code]

[2017-10-24 21:39] s172262 commented on #1042
I passed cmake of master branch with `python3` by https://github.com/s172262/homebrew-core/blob/fifengine/Formula/fifengine.rb.
[code]
But failed to build.
[code]

[2017-10-25 14:55] helios2000 commented on #1042
I think the problem is, that Fifechan is too old. Fife 0.4.1 needs at least Fifechan 0.1.4. Not toally sure but it could be possible that Fife master, needs Fifechan master.

[2017-10-25 16:23] s172262 commented on #1042
I used `fifechan` ver. 0.1.4.
[code]

[2017-10-25 16:49] helios2000 commented on #1042
I 've checked it and all the fcn::Widgets like BarGraph, PointGraph, Spacer and so on are new stuff that came after Fifechan 0.1.4 and Fife 0.4.1.
So Fife 0.4.1 works only with Fifechan 0.1.4 and Fife master works only with Fifechan master.

[2017-10-25 16:59] s172262 commented on #1042
O.K. I see.

[2017-10-25 17:22] #1042 closed

[2017-10-26 00:05] LinuxDonald commented on #1042
Could you please provide the complete cmake log please?

[2017-10-26 05:16] s172262 commented on #1042
I could build HEAD of `fifengine` with HEAD of `fifechan` on my mac.
[cmake.log](https://github.com/fifengine/fifengine/files/1417014/cmake.log)

note:
MacOS don't support `GLE`.

[2017-10-26 10:38] LinuxDonald commented on #1042
Do you know how mac packages can created?

[2017-10-26 13:30] s172262 commented on #1042
I'm sorry, I am inexperienced to make mac packages with Makefile, let alone to make it with `setup.py`.

And my build of Unknown-horizons doesn't work yet.

[2017-11-11 06:25] s172262 opened #1044 "Symbol not found: _gleDestroyGC"
[code]
_gleDestroyGC is ...
[code]

[code]

[code]

[2017-11-11 13:44] s172262 commented on #1044
It does not occur after re-build gle.

[2017-11-11 13:44] #1044 closed

[2017-11-15 23:01] s172262 opened #1045 "Build error with CEGUI"
/usr/local/Homebrew/Library/Homebrew/shims/super/clang++  -DHAVE_CEGUI -DHAVE_OPENGL -DLOG_ENABLED -DTIXML_USE_STL -D_fife_EXPORTS -I/tmp/fifengine-20171116-45445-1akhi9m/macbuild -I/tmp/fifengine-20171116-45445-1akhi9m/engine/core -I/tmp/fifengine-20171116-45445-1akhi9m -F/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.13.sdk/System/Library/Frameworks

[2017-11-15 23:36] s172262 commented on #1032
please do the following two commands and report the results.
[code]
and
[code]

[2017-11-17 15:02] helios2000 commented on #1045
It's a bit weird, because it seems like SDL2 is found. The [ SDL_VERSION_ATLEAST ](https://wiki.libsdl.org/SDL_VERSION_ATLEAST) macro is part of SDL2.
Could you try to add `#include <SDL.h>` to ceguiinputprocessor.cpp ?

[2017-11-21 16:24] #1045 closed

[2017-11-25 14:46] MarkusHackspacher commented on #1032
`$ env  | grep PYTHONPATH`
Nothing

`$ python3 -c "import sys;print (sys.path)"

['', '/usr/lib/python36.zip', '/usr/lib/python3.6', '/usr/lib/python3.6/lib-dynload', '/usr/local/lib/python3.6/dist-packages', '/usr/lib/python3/dist-packages']`

[2017-11-25 15:04] LinuxDonald commented on #1032
Maybe try to compile with clang: -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ ..

[2018-01-23 20:53] nihathrael opened #1048 "Window width settings are not fully respected when using two screens"
When I launch Unknown Horizons or the pychan demo in windowed mode, with the resolution specified to `1440x900` in the `settings.xml`, the resulting window will actually be `1600x900` pixels, as measured with `xwininfo`. In Unknown Horizons this leads to all sorts of artifacts while in game.

Environment:
- Arch Linux
- 2 1920x1080 Resolution Screens (1 laptop built-in and 1 external)
- Running xo

[2018-01-26 17:28] helios2000 commented on #1048
That is not really a bug. If the driver / SDL is not able to create a window with the specified resolution it will use the next available resolution.

[2018-02-02 12:34] LinuxDonald opened #1050 "SDL Image Version 2.0.2 is out"
Update Appveyor build to use new SDL Image Version 2.0.2

[2018-02-02 12:34] LinuxDonald commented on #1050
https://www.libsdl.org/projects/SDL_image/

[2018-02-08 12:46] LinuxDonald commented on #1050
Done with: https://github.com/fifengine/fifengine/commit/4654761f478df3190496f90658cb6a96fb8ff4f0

[2018-02-08 12:46] #1050 closed

[2018-03-29 10:19] jmdejong opened #1051 "No event fired when mouse focus is lost"
The main panel (not sure how it's called) will fire mouse events on a listener you attach to it, for example mouseMoved events.
However, when moving the mouse into some widget, the mouseMoved events will not be fired anymore.
This wouldn't be a problem if the panel would be told that it stops getting mouse events, but there is none.

If a program keeps track of the mouse position by updating it on

[2018-03-30 12:05] helios2000 commented on #1051
Is that Fifechan related?
If so, please close the issue and open a new one for Fifechan. Did you start a new project? If this is the case, please use Cegui and not Fifechan. We want to get rid of Fifechan. It's only there because of Unknown Horizon.

I'm not sure what do you mean with 'main panel'. Fife have only an main window. If you do mean the main window then you do need a [CommandListener](h

[2018-03-30 12:38] jmdejong commented on #1051
I don't know if this is a Fifechan bug or a missing feature in the Fife design.

This is for unknown horizons, but it's probably good to look if the behaviour is the same with Cegui.
Is there documentation for installing/configuring Cegui for Fife?
I have tried installing Cegui from the AUR (https://aur.archlinux.org/packages/cegui/), but that didn't work for me.

With the main panel I mean the vi

[2018-03-30 12:51] helios2000 commented on #1051
Well, all that sounds pretty much like a Fifechan problem. If you want to know how event injection works, look here: https://github.com/fifengine/fifengine/blob/master/engine/core/gui/fifechan/fifechanmanager.cpp#L132
Events for Cegui are treated differently. So there should be no problem.

Besides from that, UH do very weird things with events and Fifechan and own Widgets, so it could also be an

[2018-03-30 13:30] LinuxDonald commented on #1051
last cegui release is very old and make maybe problems under linux.
I talked with him in the last hour about cegui compile.

[2018-03-30 14:37] jmdejong commented on #1051
So what's the expected behaviour? When the mouse moves over a button, then whatever was getting the mouseMoved events before should get a mouseExit?
I could try if I could fix that in fifechan

[2018-03-30 16:55] LinuxDonald commented on #1051
@helios2000 librocket is dead since 2016

[2018-03-30 18:11] jmdejong commented on #1051
@helios2000 In that case I suppose it's a fifechan bug indeed.
I'm going to try if I can fix it there.

Do you know how to refer to the main view of the map? And do you know what type it is? Is it a widget?

[2018-03-30 20:19] helios2000 commented on #1051
The main view of the map don't help there. It's the window itself or even better the surface / context of it.
In case of Fifechan, on 'top' of it there is an invisible Fifechan Container (fcn_topcontainer) (C++). All other containers like VBox, HBox, Window are add to it on. Containers that are added to the TopContainer are called TopWidgets (Python).

[2018-03-30 22:01] jmdejong commented on #1051
I just found out that the mouseevents of the main view are not fired from fifechan.
Fifechan only fires mouse events on widgets.
Fife independently gets the mouse events from SDL in eventmanager.cpp

This is also where the check happens if the mouse event should be fired on the main view:
https://github.com/fifengine/fifengine/blob/41fe07971f58e693983520b466ecfa401f6cf37a/engine/core/eventchannel/

[2018-03-31 08:05] helios2000 commented on #1051
Well, then I still don't get your problem.
Events are pooled by SDL then send to EventManager and there to all different sorts of listeners. In case of Fifechan I posted already a link to the related code in FifechanManager.
The structure works, maybe there are better ways to receive the same behavior but thats not part of this issue.
Line 720 only checks if the event is marked as consumed by disp

[2018-03-31 10:26] jmdejong commented on #1051
My problem is that the main view sometimes gets mouse move events and sometimes it doesn't (when the mouse is over a widget), and there is no way to detect when it will stop getting mouse move events.

I didn't mean exactly line 720. I meant to link to the code around. 723 may have been better to link to.

I want to replace:

    if (consumed) {
        return;
    }
    dispatchMouseEvent(mouseev

[2018-03-31 11:18] helios2000 commented on #1051
We are spinning in a circle. But I'm curious about the PR.

[2018-04-02 11:23] LinuxDonald commented on #1032
@MarkusHackspacher any news about this?

[2018-04-02 11:30] LinuxDonald opened #1053 "MacOS ld: warning: -L path '/usr/local/lib/libfifechan.dylib' is not a directory"
[ 50%] Linking CXX shared library libfife.dylib
ld: warning: -L path '/usr/local/lib/libfifechan.dylib' is not a directory
ld: warning: -L path '/usr/local/lib/libfifechan_sdl.dylib' is not a directory
ld: warning: -L path '/usr/local/lib/libfifechan_opengl.dylib' is not a directory
[ 50%] Built target fife
[ 51%] Swig source
Scanning dependencies of target _fifechan
[ 51%] Building CXX object CMa

[2018-04-02 11:30] LinuxDonald commented on #1053
@jakoch have you maybe an idea whats wrong?
https://travis-ci.org/fifengine/fifengine/builds/361134159

[2018-04-06 20:35] MarkusHackspacher commented on #1032
I try it to build, now it is not found cegui, but it is install. libcegui-mk2-0.8.7, libcegui-mk2-dev (0.8.7-2).

[code]

[2018-04-30 18:43] jmdejong opened #1055 "no z correction for image xshift and yshift"
Images are sometimes drawn in the wrong order. This is when images have xshift and yshift (actually only yshift matters by the way).

This is a problem in unknown-horizons:
https://github.com/unknown-horizons/unknown-horizons/issues/661
https://github.com/unknown-horizons/unknown-horizons/issues/2214

The source problem appears to be in `LayerCache::updatePosition`:
https://github.com/fifengine/fi

[2018-05-01 21:46] jmdejong commented on #1055
Never mind, it looks like the problem is actually in UH and the way it abuses the shifts.

[2018-05-01 21:46] #1055 closed

[2018-05-04 14:27] LinuxDonald opened #1056 "Fife 0.4.2 release"
What about an new fife and fifechan release?

@helios2000

[2018-05-04 21:02] jmdejong commented on #1051
So, the core of the original problem is that the mouse stops firing mousemoved events to the main view when the mouse is hovering over a widget. When this happens there is no message, and no way to tell that it will stop firing mousemoved events.

I just realized that an alternative solution to this is to keep firing mousemoved events to the main view when the mouse is over a widget.
After some di

[2018-05-04 21:02] #1051 closed

[2018-05-05 11:28] jmdejong opened #1057 "Distinguish filtered mouse events"
Using IMouseFilters it is possible to make a mouse event that was consumed by a gui widget fire anyways?
Is there a way to distinguish these mouse events from mouse events that haven't been consumed by gui widgets?

It looks like this is something that `InputEvent.isConsumedByWidgets()` should do, but it doesn't.
I have searched for it setter, `InputEvent.consumedByWidgets()`, but it isn't called

[2018-05-07 14:18] jmdejong opened #1058 "Texture heightmaps for pixel perfect z ordering"
Currently when 2 images overlap one is always drawn in front of the other.
With larger, more complex or interwoven images this can look ugly and unnatural.

A solution to this could be to use texture heightmaps for pixel perfect z ordering.
Every (large) image to draw should not only get the texture itself but also the heightmap texture.
Then when OpenGL decides what pixel to draw it does not only

[2018-05-11 18:01] helios2000 commented on #1058
Yea its worth to think about it but not currently.
Main problem is, that fife haven't shader support.

[2018-05-11 18:27] helios2000 commented on #1057
The ConsumedByWidgets stuff is pretty old. The last setter call was removed 2008.
I would prefer to delete all that old stuff but on the other hand your point is valid. I think the MouseFilter itself wasn't a great idea from me. Maybe it would be better to handle that with a setting or a sort of extra/global listeners. I'll think about it.

[2018-05-11 18:29] helios2000 commented on #1056
Let us fix a few more bugs, especially we need a solution for you widget problems.

[2018-05-11 19:52] prock-fife commented on #1058
It's funny that you found that video.  That is the exact video I had stumbled upon years ago and have been dreaming about implementing that in FIFE ever since.  As @helios2000 mentioned FIFE lacks shader support so it would be difficult to implement right now.   There was a discussion recently about moving to a newer version of OpenGL which would (I think) force us to implement shaders however I'm

[2018-05-11 19:54] prock-fife commented on #1057
I agree with @helios2000 on this one.  The method in which that was implemented wasn't great and there must be a better way to do that.   It would be nice to make it consistent with the rest of the engine as well as between the mouse and keyboard events.

[2018-05-11 19:56] prock-fife commented on #1056
Should we consider planning the list of bugs we want to fix before releasing?  I'm not entirely sure how much has changed since the last release off the top of my head.  To @helios2000's point we should at least fix enough things to make it worth the release.

[2018-05-12 11:59] helios2000 commented on #1057
@jmdejong I hope that is okay for you. It should be enough to do it similar
[code]
Then you can make use of the isConsumedByWidgets flag in the listener methods.

[2018-05-12 14:13] helios2000 commented on #987
@jakoch Is this fixed?

[2018-05-12 14:17] helios2000 commented on #894
Too old. If that happens again, pleas reopen and give us more informations.

[2018-05-12 14:17] #894 closed

[2018-05-12 14:19] #845 closed, assigned to helios2000

[2018-05-12 14:30] helios2000 commented on #318
Yea a default object sounds very hackish. I'll close it.

[2018-05-12 14:30] #318 closed

[2018-05-12 14:39] LinuxDonald commented on #987
I have already merged his work.

[2018-05-12 14:41] helios2000 commented on #987
Well, then we can close it or not?

[2018-05-12 14:46] helios2000 commented on #1056
Have created an 0.4.2 milestone and added all fixed issues since 7. Feb 17 and also a few open issues that should be fixed before we release the next version.

[2018-05-12 14:46] LinuxDonald commented on #987
I close it. For me it looks like its fixed.

[2018-05-12 14:46] #987 closed

[2018-05-12 14:47] LinuxDonald commented on #1056
Updateing changelog is needed too.

[2018-05-12 14:50] helios2000 commented on #1056
Sure, we should follow all the [Release Steps](https://github.com/fifengine/fifengine/issues/955)

[2018-05-12 16:46] helios2000 commented on #1048
Have tested it, here it works without problems. I think the problem is really that SDL was not able to create a windows with the specified size.
So on client side it is always better to check the available ScreenModes (engine.getDeviceCaps().getSupportedScreenModes()).
The other way would be that Fife simply throws an error if a resolution is not possible.

[2018-05-12 16:46] #1048 closed

[2018-05-12 16:49] #1057 closed

[2018-05-13 18:30] LinuxDonald opened #1062 "MouseScroll Button Pressing can crash fife"
Pressing MouseWheel can crash it. But not always happens.

[code]

[2018-05-13 19:39] jmdejong commented on #1062
The cause for this is that the mouseListeners do not implement all of fife::IMouseListener's methods.
mouseWheelMovedRight and mouseWheelMovedLeft were added last years, and aren't implemented in most applications using fife.

I think the more general problem is that not implementing a IMouseListener method crashes with an unhelpful error when the method is called.

[2018-05-16 15:41] jmdejong commented on #981
What is interesting is that Fifechan does react to the keys, but it reacts differently.
For example: numpad 5 in Fife will fire as "KP_NUM_5", while in fifechan it will fire as "NUM_5" (which is the code for a normal 5).
Also, when shift is pressed Fifechan will fire the modified key, while Fife fires the shift and then the unmodified key. For example shift-= gives "SHIFT", "EQUALS" in fife and it

[2018-05-16 16:59] #1062 closed

[2018-05-16 17:11] helios2000 commented on #981
Yea the handling is different. Changes must be made to both Fife and Fifechan. As part of that we could try to fix / enhance unicode support too.

[2018-06-01 09:42] #766 closed

[2018-06-07 06:48] shaypal5 opened #1064 "from fife import fife: Cannot import name 'fife'"
Hey there,

First, I want to thank all contributors and maintainers - wow! This looks like an amazing project! :)

Second, I just started playing with it on Ubuntu 16.04. I've built both `fifechan` and `fifengine` from source (after building some requirements from source), both from the latest commits, as I wanted Python 3 supported and as I understand it is not in the latest `fifengine` release y

[2018-06-07 08:29] Beliaar commented on #1064
Well, that fife subpackage is a python extension module (a shared libary linked with python).

It is possible that your install process did not copy that module, and I dont quite remember how the normal install process (in Linux environments) does that.

[2018-06-07 09:28] shaypal5 commented on #1064
Ok. I read a bit about Python extension modules. They should be installed using `python setup.py install`. Maybe `pip install`-ing the folder path does not produce a corresponding process. I'll try it in a couple of days, when I'm back home, and report. Please don't close the issue yet. :)

[2018-06-18 15:28] shaypal5 commented on #1064
Nope. I installed again, with ``python setup.py install`` this time, and I'm getting the same result. What should I do now?

[2018-06-18 15:34] LinuxDonald commented on #1064
Why you dont install it the normal way? http://docs.fifengine.net/developer-manual/en/#_building_fifengine_on_linux

[2018-06-18 15:36] shaypal5 commented on #1064
I did. I followed the instructions to the letter.

[2018-06-18 15:37] shaypal5 commented on #1064
Still, obviously to have the name ``fife`` available in the Python namespace some form of Python package has to be installed...

[2018-06-18 16:17] LinuxDonald commented on #1064
Maybe its this: https://packages.ubuntu.com/xenial/python3-future

[2018-06-19 15:08] shaypal5 commented on #1064
I meant a Python package as in ``pandas`` or ``requests``, not a packages installation of the Python language; I have a working installation of Python 3.5.

I'm closing the topic as I will not attempt to get ``fifengine`` or the its demos to work; I moved to looking at other game engines to play with. Thank you for your time, guys!

[2018-06-19 15:08] #1064 closed

[2018-06-26 17:39] yhoyhoj opened #1065 "Pyhon 3 support on Archlinux"
I'm trying to package fife on Archlinux with Python 3 support.
I am using the AUR [package](https://aur.archlinux.org/packages/fife/) made by @LinuxDonald as a base (edited to change dependencies).

This package sets the PYTHON env variable to `python2` but changing that to `python` or `python3` doesn't help. It always tries to install itself into the`python2.7/site-packages/` directory instead of

[2018-06-26 22:29] LinuxDonald commented on #1065
I will link an new one. But I can't really update it Because I don't have arch linux anymore.

[2018-06-27 05:00] LinuxDonald commented on #1065
Have you try: https://aur.archlinux.org/packages/fife-git/

Because last stable fife version dont have py3 support.

[2018-06-27 17:33] yhoyhoj commented on #1065
It works with this one, thanks !

[2018-06-27 17:33] #1065 closed

[2018-06-30 11:01] LinuxDonald commented on #1032
Whats the paths to cegui on your system?

[2018-07-01 08:30] MarkusHackspacher commented on #1032
/usr/bin/CEGUISampleFramework-0.8
/usr/bin/toluappcegui-0.8
/usr/lib/cegui-0.8/libCEGUICoreWindowRendererSet.so
/usr/lib/cegui-0.8/libCEGUIDevILImageCodec.so
/usr/lib/cegui-0.8/libCEGUIExpatParser.so
/usr/lib/cegui-0.8/libCEGUIFreeImageImageCodec.so
/usr/lib/cegui-0.8/libCEGUILibXMLParser.so
/usr/lib/cegui-0.8/libCEGUIRapidXMLParser.so
/usr/lib/cegui-0.8/libCEGUISILLYImageCodec.so
/usr/lib/cegui-0

[2018-07-01 10:16] LinuxDonald commented on #1032
Yeah there are not python3 support in this cegui.

[2018-07-01 10:30] LinuxDonald commented on #1032
Should be fixed with: https://github.com/fifengine/fifengine/commit/fa6ea6d229f28fd9bd2718507601dc50bddfb702

[2018-07-01 11:54] MarkusHackspacher commented on #1032
Now looks good.

[code]

[2018-07-13 19:03] Nikola-Tesla-Mandici opened #1066 "where is it ?"
**where is it ????**

![2018-07-13_13-57-35](https://user-images.githubusercontent.com/36495485/42709194-4e85ed1e-86a5-11e8-94d2-0fcdd5705008.png)
![2018-07-13_14-00-16](https://user-images.githubusercontent.com/36495485/42709195-4fa3732e-86a5-11e8-8102-3415ec2910f4.png)

[2018-07-13 19:12] LinuxDonald commented on #1066
http://docs.fifengine.net/developer-manual/en/

Hier ist the lastest doc for developers

[2018-10-08 13:46] #1066 closed

[2018-11-03 13:14] #1032 closed

[2018-11-03 13:16] LinuxDonald commented on #981
@helios2000 are you still active maybe?

[2018-12-19 20:07] Hoshpak opened #1068 "Compilation failure with gcc 8.2.0"
While trying to compile fifengine 0.4.1 on Void Linux with gcc 8.2.0, I encountered the following error:

[code]

I've also tried with clang 6.0.1 but got the same errors, their wording is just slightly different. The full package template can be retrieved [here](https://github.com/void-linux/void-packages/blob/master/srcpkgs/fifengine/template).

[2018-12-19 20:09] LinuxDonald commented on #1068
What version have you used? Fifengine git master version should compile

[2018-12-19 20:11] Hoshpak commented on #1068
Version 0.4.1. Void Linux has a policy of shipping only stable releases of packages. I also briefly tried to compile the master but it hit me with many compilation errors which seemed to point to swig so I gave up on that.

[2018-12-19 20:13] LinuxDonald commented on #1068
Yeah one version of swig is broken I thing it was 3.0.8

[2018-12-25 16:18] Polynomial-C opened #1069 "engine/core/gui/fifechan/base/opengl/opengl_gui_graphics.h:51:40: error: ‘PointVector’ in namespace ‘fcn’ does not name a type"
Hi,

after being bitten by issue #1068 when trying to build the `0.4.1` release on my Gentoo Linux box, I followed the suggestion to buid git master just to stumble upon another compile error:
[code]

[2018-12-25 19:01] LinuxDonald commented on #1069
Have you too fifechan master version?

[2019-01-02 12:59] Polynomial-C commented on #1069
No I didn't. Tried that now and the issue is gone. Sorry for the time waste...

[2019-01-02 12:59] #1069 closed

[2019-01-05 03:47] LinuxDonald commented on #1068
Does it now works?

[2019-01-05 03:49] LinuxDonald commented on #1056
I will do the new release next weekend.

[2019-01-05 10:10] Hoshpak commented on #1068
Since the issue seems to come from GLEE, I tried to backport the GLEW changes to 0.4.1 which compiled but ended up with a segfaulting binary so I gave up eventually.

[2019-01-05 11:39] LinuxDonald commented on #1068
Have you tryed to compile the git master branch? It will be the next stable version. Release should be in the next two weeks.

[2019-01-05 11:48] Hoshpak commented on #1068
That works of course, it is just not something I could package according to our policy. I temporarily removed the package from the repository because it was delaying a boost update. If the next release is just around the corner, that's great. I will give it a try as soon as it's tagged.

[2019-01-05 11:48] #1068 closed

[2019-01-05 16:06] LinuxDonald opened #1070 "cegui download broken on appveyor"
.$env:APPVEYOR_BUILD_FOLDER\build\appveyor\dl_extract_cegui-sdk.ps1
Invoke-RestMethod : Could not find a part of the path 'C:\projects\fifengine-dependencies\downloads\'.
At C:\projects\fifengine\build\appveyor\dl_extract_cegui-sdk.ps1:34 char:1
+ Invoke-RestMethod -Method Get -Uri "$apiUrl/buildjobs/$jobId/artifact ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    +

[2019-01-05 16:06] LinuxDonald commented on #1070
@Beliaar @jakoch any ideas?

[2019-01-05 18:32] Beliaar commented on #1070
@LinuxDonald It seems the folder  'C:\projects\fifengine-dependencies\downloads' does not exist, for whatever reason. Just creating it before that line should probably fix the problem.

[2019-01-05 23:16] jakoch commented on #1070
Happy new year everyone!

I think the problem is that the downloads on Appveyor are not persistent.
Build artifacts older than 6 months are permanently removed from AppVeyor artifact storage, see
https://www.appveyor.com/docs/packaging-artifacts/#artifacts-retention-policy

The second problem is that the cegui guys do not release in a CI way.
They are on [bitbucket](https://bitbucket.org/cegui/ceg

[2019-01-07 19:14] MarkusHackspacher commented on #1070
If not possible to disable CEGUI in windows, too.
Linux had not CEGUI support, half year ago.

https://github.com/fifengine/fifengine/commit/fa6ea6d229f28fd9bd2718507601dc50bddfb702

[2019-01-07 21:20] jakoch commented on #1070
Thanks for reporting that issue, Markus.
The question is: What is our cegui default value ON or OFF?
I think it's CEGUI off by default, because then the GUI defaults to fifechan = ON, right?

[2019-01-07 21:39] LinuxDonald commented on #1056
@jakoch have you something that you want to add to fife/fifechan before we do the release?

[2019-01-07 21:46] jakoch commented on #1056
No. Are we ok regarding the dependencies (excluding the cegui issue)?

[2019-01-07 21:50] LinuxDonald commented on #1056
On the dependencies site are not really big changes. Only glee to glew on linux if i remeber it correctly.

[2019-01-07 22:33] jakoch commented on #1056
We have an issue with OpenAL-Soft on Windows, see https://ci.appveyor.com/project/LinuxDonald/fifengine/build/job/jopsf0wleklvvnwn/messages

[2019-01-08 00:16] LinuxDonald commented on #1056
Okay its green again. But we have an problem with openal-soft 1.19.2 maybe you could fix this @jakoch ?
On Ubuntu 19.XX it could be an problem than too..

[2019-01-08 08:54] jakoch commented on #1056
Oh, nice - all CI platforms are green. The issue disappeared.

OpenAL-Soft v1.19.2, uhm? According to https://openal-soft.org/ that version isn't released, yet.
Latest is v1.19.1, which we use.

[2019-01-08 08:57] #888 closed

[2019-01-08 11:47] LinuxDonald commented on #1056
Sorry typo. 1.19.1 don't work. Linux version don't know. Because Ubuntu 18.04lts is on 1.18.2

[2019-01-11 01:40] #1070 closed

[2019-01-11 01:40] LinuxDonald commented on #1056
Release will be today. Fifechan 0.1.5 is out.

[2019-01-11 17:30] LinuxDonald commented on #1056
Done with https://github.com/fifengine/fifengine/commit/ad2f908195a0cd558542028d2dcb7561cb149ad8

[2019-01-11 17:30] #1056 closed

[2019-01-11 18:02] jakoch commented on #1056
Gute Arbeit, Thomas!

While looking at the changeset one idea came to my mind:
We could export the "FIFE_VERSION_SHORT" from `CMakeLists.txt` into a environment constant
and re-use that in the `appveyor.yml`, so that one doesn't have to edit the version number in so many places.

[2019-01-11 18:08] LinuxDonald commented on #1056
Nice idea @jakoch :)

[2019-01-16 15:28] LinuxDonald opened #1071 "fifengine needs zlib.dll but dont include it."
fifengine needs zlib.dll but dont include it. https://ci.appveyor.com/api/buildjobs/519uuubyopb45b99/artifacts/libfife-0.4.2.win32.zip

@jakoch do you know maybe an fix?

[2019-01-16 16:14] jakoch commented on #1071
The zip package includes zlib1.dll:
`libfife-0.4.2.win32.zip\Python36\Lib\site-packages\fife\zlib1.dll`.

How do you know that fifengine needs the old zlib.dll.
What's the exact error and where does it come from?

[2019-01-16 16:15] LinuxDonald commented on #1071
We found out with UH try to run. If the zlib.dll is missing fife cant get loaded. zlib1.dll is not needed but zlib.dll.

https://github.com/unknown-horizons/unknown-horizons/issues/2890

[2019-01-16 16:16] Beliaar commented on #1071
I had checked _fife.pyd using dependencies (https://github.com/lucasg/Dependencies/) and it showed that it needs zlib.dll and does not use zlib1.dll at all. Also zlib1.dll apparantly is an outdated version, as renaming it just changed the error slightly ("procedure not found" instead of  "module not found")

[2019-01-16 16:30] jmdejong commented on #1071
zlib.dll is used by libpng16.dll

[2019-01-16 16:49] jakoch commented on #1071
@jmdejong oh, i forgot about libpng. You're right.

We build a zlib.dll,  which should be the correct one for distribution:
https://ci.appveyor.com/project/LinuxDonald/fifengine/build/job/dokfkmwyltuwug0v?fullLog=true#L585
And we link against the lib for libpng16.dll and libpng16-16.dll.

Now i'm confused about what the zlib FAQ says about the filename. 😕

[2019-01-24 16:46] jakoch commented on #1071
The zlib1.dll issue:
1. we use a prebuilt sdl_ttf package, which ships a zlib1.dll for freetype.dll
2. we use a prebuilt sdl_image package, which ships another zlib1.dll for libpng16-16.dll.
The zlib1.dll's from 2 and 3 clash, when installed in a certain order.
The zlib1.dll from sdl_image works with sdl_ttf, but not vice versa.

Sidenote: Which lib needs the old zlib.dll:
We build libpng, that pr

[2019-02-17 14:52] rubyFeedback opened #1073 "[Documentation] Games/Projects implemented via FIFE"
Would it be possible to add a short subsection of games/projects that were implemented via/through FIFE, on the main README?

New folks often don't know which projects have been implemented via FIFE, so I think it may be useful to see if they wish to contribute more to a game rather than an engine (which I think more people may want to contribute to a game, since an engine is a bit more abstract a

[2019-02-17 21:44] LinuxDonald commented on #1073
I don't know what project is using fife active. Unknown-horizons is switching from fife to godot and was the only game that I know that use fifengine on public site

[2019-05-07 07:50] arie-itecho commented on #1021
@mrkskwsnck How did you do that?

[2019-05-07 08:47] arieroos opened #1074 "Make errors when using swig 4"
Hi I am trying to build FIFEngine. However I get make errors when I run make.

Terminal output below:

[code]

Any ideas?

[2019-05-07 12:06] prock-fife commented on #1074
Did you ensure all dependencies are installed?   http://docs.fifengine.net/developer-manual/en/#_dependencies

[2019-05-07 15:52] arie-itecho commented on #1074
Yes, they are all there for python 3, do I need to check the dependencies for python2 as well?
I had to re-install swig, because the default swig version for ubuntu 16.04 is 3.0.8. I am running swig 4.0.0 at the moment. Could that be the problem?

[2019-05-07 15:59] arie-itecho commented on #1074
I installed all the python 2 dependencies as well. Still getting the same error

[2019-05-07 18:03] LinuxDonald commented on #1074
I thing swig 4.0 is the problem. I hope anyone can fix this please?

[2019-05-07 22:01] arie-itecho commented on #1074
You are right. I uninstalled swig 4 and installed swig 3.0.12. I'm not getting the error anymore.

[2019-05-12 15:50] mrkskwsnck commented on #1021
Dear @arie-itecho, that's two years in the past, when I was compiling that. I'm afraid I can't help you, as since then, lot of things have changed.

[2019-05-13 11:25] Lucki commented on #1074
Some used swig flags are unsupported now: https://github.com/fifengine/fifengine/blob/5946086fcdf64768fba0274bbad9ecb44f7bc78e/CMakeLists.txt#L896

[2019-05-22 15:03] Lucki commented on #1074
https://github.com/fifengine/fifengine/commit/d14f232f4cd9a00b05d6872957070e8c020f515d fixes this.

[2019-06-10 13:18] CH4Code opened #1075 "Some documentation links are broken"
Hi,
just trying to get started (again) with Fife. Noticed a small error:
Some of the documentation links in readme.md on the repository page are broken. (they point to fiveengine.net instead of ragingreality.com). The documentation is accessible still via "Overview".
![image](https://user-images.githubusercontent.com/16046997/59197783-70796200-8b92-11e9-83d8-c46869e4124d.png)
Cheers

[2019-06-11 03:05] prock-fife commented on #1075
Thanks for pointing it out!  I've fixed this.

[2019-06-11 03:05] #1075 closed

[2019-07-02 21:34] jakoch commented on #1073
There is a small section of projects using FIFE in our docs: http://docs.fifengine.net/user-manual/en/#_games_using_fifengine

[2019-07-14 12:27] Nikola-Tesla-Mandici commented on #1066
thanks for the link that works, what I asked was because when I clicked there I had nothing was empty

[2019-07-14 16:00] #1073 closed

[2019-07-14 16:00] #1071 closed

[2020-08-21 08:57] #1074 closed

[2020-11-29 08:16] rubyFeedback commented on #955
This may be too much bureaucracy.

I guess it would be more important to see how the project can be re-bootstrapped.

[2020-11-29 16:03] jakoch commented on #955
Hello rubyFeedback!

Welcome and thank you for commenting.

This is what i read: "This is too much bureaucracy."

You think that maintaining the project would be easier by not having a release checklist, which is discussed and refined by the team? The team and i described the build and release steps for you - yes you! And you're welcome to step in and contribute!
"May be" you can reduce the amout

[2021-04-10 11:03] jimbob88 opened #1079 "Doesn't seem to function correctly on Ubuntu 20.10"
So I recently followed the compilation guide because I was wanting to run `unknown-horizons` but it doesn't seem to work after compilation on Ubuntu 20.10.

When I run any of the demos or unknown-horizons I get the following error:
[code]

I am using Nvidia driver 460 with a GTX-970 (not sure if that is important or not)

[2021-04-10 12:23] LinuxDonald commented on #1079
Have you tested it with the version from Ubuntu repo?

[2021-04-10 15:26] jimbob88 commented on #1079
I recieved the same issue when using the system package

[2021-04-10 15:40] LinuxDonald commented on #1079
Does other 3D games work? And what does glxinfo say?

[2021-04-10 15:47] jimbob88 commented on #1079
GLXINFO:
[code]

GLXGEARS also runs perfectly fine

[2021-04-10 16:44] LinuxDonald commented on #1079
Looks good. I will try to test it next week on my maschine. Maybe i get the same error.

[2021-08-14 20:42] Polynomial-C opened #1080 "engine/core/vfs/zip/zipnode.cpp:201:85: error: no matching function for call to ‘find(std::vector<FIFE::ZipNode*>::iterator, std::vector<FIFE::ZipNode*>::iterator, FIFE::ZipNode*&)’"
[code]

Most likely an issue with boost-1.77.0

[2021-08-19 13:14] Polynomial-C commented on #1080
Possible fix:
[code]

[2021-08-28 11:13] AngryPenguinPL commented on #1080
I can confirm. This patch fix issue on Mandriva.
@Polynomial-C Could you please do a Pull Request?

[2021-08-31 17:47] #1080 closed

[2022-03-19 00:11] nyov opened #1082 "Broken code in 0.4.2 release"
The debian packaged version warns about these syntax errors

[code]

A few of these under `widgets/` seem already fixed by #1076 but the rest are still existing in master.

[2022-03-19 11:30] LinuxDonald commented on #1082
I fixed all above. If you find more please report it here.

[2022-04-14 00:32] nyov commented on #1082
Thanks!

[2022-04-14 00:32] #1082 closed

[2022-05-22 16:23] uzername opened #1083 "Update SDK for your engine"
If this project is still active - please, update and recompile SDK for Windows for this engine using latest source code.
I see only SDK from 2017. It's like 5 years ago.

[2022-05-26 05:25] LinuxDonald commented on #1083
Its dead. Thats why Unknown-Horizons is switching to Godot Engine.

[2022-05-26 05:25] #1083 closed

[2022-08-28 08:28] coldtobi commented on #1079
Hi, I'm seeing that issue to in Debian. Are there any hints where to look?
(I Reported it in Debian as https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1018233)

[2022-08-28 10:20] coldtobi commented on #1079
Update: Debugging into it:

It seems to be related to the GPU. On my Desktop -- using a nvidia GTX 3060Ti card --
I see this failure.

On my old Thinkpad Edge E130 (some Intel i910), I can start unknown-horizons…

[2022-08-28 11:28] LinuxDonald commented on #1079
I dont know why it sometimes happen and on other not. Maybe an driver bug. But the engine is old and noch supported anymore. No developer for it who could fix bugs on it.

[2022-09-03 08:03] coldtobi commented on #1079
German Debian Forums had thread about it [1], and there is a
Workaround documented:

The workaround is to run the application in a Xephyr environment
(package xserver-xephyr), which seems to be without hardware acceleration.

Example for how to use the workaround:

  Xephyr :99 -resizeable -screen 1400x1050 &
  DISPLAY=:99 unknown-horizons

[1] https://debianforum.de/forum/viewtopic.php?t=183160#p